<div class="notaFrame">
    <p class="contenido">
        Se estima que hasta 80% de la población en México ha padecido gastritis.</br></br>

        La gastritis se presenta cuando el revestimiento del estómago se inflama. Puede ocasionarse después de la ingesta de alcohol o algunos condimentos; aunque en ocasiones algunas personas podrían no indicar ningún malestar, es importante estar al pendiente de cualquiera de los siguientes síntomas y, en caso de presentar alguno, acudir con el Médico.</br></br>

        El Médico diagnostica la gastritis interrogando al paciente, dependiendo de los síntomas que presente puede requerir una endoscopía para revisar el estado de la mucosa del esófago, el estómago y la parte más alta del intestino.</br></br>

        Una gastritis leve y esporádica puede solucionarse de manera fácil y rápida; sin embargo, la gran mayoría de quienes la padecen recurre a remedios caseros o a la automedicación. Lo peligroso de no ir con un especialista ni tratarse a tiempo es que puede volverse crónica o hasta evolucionar en una úlcera.</br></br> 

        Te invitamos a que conozcas 10 mitos sobre la gastritis, visites a tu Médico ante cualquier malestar y no te dejes llevar por las creencias.</br></br>

        10 mitos sobre la gastritis:</br></br>

        <ul>
        	<li><b>Tomar lácteos disminuye los síntomas: </b> En los años 50 se creía que una sustancia alcalina, como la leche, podía neutralizar los ácidos, pero se demostró que con los lácteos hay un rebote y se produce más ácido. </li>
        	<li><b>El estrés produce gastritis: </b>Por supuesto. Cuando se está estresado se conjuntan varios factores que agreden al estómago: no se come, se automedica, etc., lo que produce más ácido. Si sientes mucho estrés intenta relajarte y respirar, realiza actividades que te distraigan. </li>
        	<li><b>Es ocasionada por una bacteria: </b>El ardor en la boca del estómago puede indicar la presencia de la bacteria Helicobacter pylori, pero puede haber ardor y no presentarse esta bacteria, o tenerla y no demostrar síntomas de gastritis.</li>
        	<li><b>La acidez es igual a gastritis: </b>El término “acidez” se confunde con gastritis: cuando es un ardor que sube desde el estómago hasta la garganta, es reflujo, y cuando es ardor cerca del ombligo, es colitis. </li>
        	<li><b>Es provocada por grasas e irritantes: </b>El estómago es una bolsa que tiene una entrada (cardias) y una salida (píloro); cuando se ingiere mucha grasa o proteínas derivadas de la carne, el píloro se cierra por más tiempo para procesarlos, lo que genera irritación. </li>
        	<li><b>Comer fruta es la mejor opción si se tiene gastritis: </b>Lo recomendable es no dejar el estómago vacío por más de 5 horas. En el día se aconseja hacer tres comidas y dos colaciones. Y la mejor colación es una fruta, porque su fibra ayuda al tracto digestivo. </li>
        	<li><b>Tomar jugo de limón en ayunas la cura: </b>No existen pruebas de esto. El limón contiene ácido ascórbico y éste se indica en cualquier tratamiento de mucosas, pero este jugo no podría ser un tratamiento por sí mismo. </li>
        	<li><b>Los niños no se enferman de gastritis: </b>Actualmente, los pequeños tienen estrés, pasan muchas horas sin comer o no llevan una alimentación correcta, por ello, tienen las mismas posibilidades que un adulto de padecerla. </li>
        	<li><b>El café es el peor enemigo: </b>Las teínas (café y té) tienen sustancias irritantes, por lo que se prohíbe en la dieta del paciente, pero si el tratamiento funciona, puede haber concesiones, sin caer en excesos. </li>
        	<li><b>Tomar ranitidina por ocho días, solución infalible: </b>Con la ranitidina puede haber mejoría temporal, pero no es la solución completa, ya que su ingesta de manera continua tiene efectos adversos, como la disfunción eréctil.</li>
        </ul><br>
        Fuente: <a href="http://www.diabetesbienestarysalud.com" target="_blank">www.diabetesbienestarysalud.com</a>
    </p>
</div>
