<div class="notaFrame">
    <p class="contenido">
        <i>¿Qué son los radicales libres y por qué nos afectan?</i></br></br>

        Por todos lados se habla sobre los antioxidantes y los radicales libres, pero pocos saben realmente qué son, por qué dañan nuestro cuerpo, y por qué envejecen la piel.</br></br>

        Entender qué son los radicales libres es muy sencillo. ¿Has visto cómo el interior de una manzana toma un tono café después de cortarla? Eso se debe a que hay moléculas inestables en el ambiente (radicales libres), que atacan a las células de la manzana causando un proceso de oxidación.</br></br>

        Al igual que las células de la manzana mueren lentamente, las de nuestra piel también se ven afectadas por los radicales libres que hay en el medio ambiente. Llega un punto en que ya no son capaces de regenerarse, lo que deriva en envejecimiento.</br></br>

        <b>¿Qué es un antioxidante?</b></br></br>

        Sigamos con el ejemplo de la manzana. Para evitar que se oxide rápidamente, muchos optan por untarle un poco de limón. Exactamente eso es un antioxidante, un compuesto que ayuda a contrarrestar el daño de los radicales libres, evitando que estos dañen las células de nuestro cuerpo, para prevenir el envejecimiento prematuro.</br></br>

        Existen muchas formas de que nuestro cuerpo obtenga antioxidantes, ya sea a través de alimentos, suplementos o cremas; su objetivo siempre será el de retardar la oxidación celular.</br></br>

        En este sentido, los científicos se han dado a la tarea de buscar cada vez nuevas opciones para que proteger la piel de los radicales libres. Hace décadas descubrieron los llamados carotenoides, elementales para la salud. Los más conocidos son los metabolizados como vitamina A.</br></br>

        Estudios recientes han descubierto un nuevo caroteno llamado "Astaxantina" con grandes propiedades antioxidantes. Incluso 500 veces más poderoso que la vitamina E, y 60 más que la C.</br></br>

        Dado que el cuerpo humano no produce Astaxantina, es necesario obtenerla de fuentes externas, como suplementos alimenticios o cremas faciales, que nos ayudarán a evitar la oxidación celular causada por los radicales libres. En el caso de las cremas cosméticas para el rostro, evitarán el envejecimiento prematuro. Su aplicación puede ser por la mañana o por la noche, con la piel perfectamente limpia.</br></br>

        Entre los beneficios de la Astaxantina están:</br></br>

        <ul>
            <li>Estimular la producción de colágeno responsable de mantener la firmeza y elasticidad de la piel.</li>
            <li>Disminuir la producción de melanina.</li>
            <li>Reducir las arrugas.</li>
            <li>Incrementar la humectación y elasticidad de la piel.</li>
        </ul>

        ¡Encuéntralas en cualquier sucursal de <a href="https://www.farmaciasdesimilares.com/#!/" target="blank">Farmacias Similares</a>!
    </p>
</div>
