<div class="notaFrame">
    <p class="contenido">
        Puedes quitarte la edad, pero la piel te delata. Su proceso de envejecimiento es tan evidente, que suele manifestarse a través de diversos cambios, como son: la aparición de manchas, la flacidez, la resequedad y, sobre todo, las líneas de expresión.</br></br>

        Hay diversos factores externos e internos que afectan nuestra piel, y comienzan a revelarse a través de ella entre los 30 y 40 años de edad. Afortunadamente, podemos combatirlos a través de diversas acciones, para así lograr una piel más joven.</br></br>

        <b>Factores internos</b></br></br>

        Hay cosas en la vida que no podemos controlar, y unas de ellas son: nuestro ADN, nuestras células y la herencia biológica de nuestros padres; en este sentido, todos envejecemos alguna vez, es una realidad que hasta la fecha ningún científico ha podido frenar.</br></br>

        Lo que sí podemos hacer para combatir este proceso natural es ponernos las pilas y olvidarnos del sedentarismo, alimentarnos correctamente, para así, ayudar a retrasar este proceso de envejecimiento de nuestra piel.</br></br>

        <b>Factores externos</b></br></br>

        El medio ambiente y nuestro estilo de vida tienen mucho que ver en la aparición de los signos de la edad. En este sentido, los primeros son factores externos no controlables, y los segundos: sí controlables. A continuación, aprenderás algunas acciones para sortear sus efectos y mantener tu piel joven por más tiempo:</br></br>

        <i>No controlables:</i><br><br>

    </p>

        <ul>
            <li>Contaminación. Es cierto, la contaminación y los radicales oxidan tu piel y hacen que envejezca más rápido, pero tú puedes ayudarla a contrarrestar esos efectos lavando tu cara todos los días.</li>
            <li>El sol. El peor enemigo de tu piel es el sol, ya que es causante de manchas, resequedad, y las horribles “arrugas”. Lo recomendable es usar protector solar a diario para defender tu piel de sus daños.</li>
        </ul>

    <p class="contenido">

        <i>Controlables:</i><br><br>

        <ul>
            <li>Dormir bien. Procura dormir tus 8 horas diarias. Un distractor es la televisión, ¡evita tenerla en tu recámara!</li>
            <li>Alimentación. Comer de forma saludable hace que tu cuerpo se sienta más ligero; eso se nota en tu piel.</li>
            <li>Ejercicio: No sólo se trata de caminar por caminar durante mínimo 30 minutos. Toma enserio el hacer ejercicio, así como cuando quedas con tus amigas.</li>
            <li>Estrés. Estar todo el tiempo de malas porque no terminas a tiempo tu trabajo, o preocupada por preparar la junta de mañana, no le hace nada bien a tu piel.</li>
        </ul>

    </p>

    <p class="contenido">        

        Toma en cuenta estos aspectos para cuidar de tu piel al máximo y evitar que a tus 30 te digan “señora”, o te calculen más edad.</br></br>

        ¡No lo olvides!, los productos <a href="http://eternalsecret.com.mx/#!/productos" target="blank">Eternal Secret</a> son ideales para prevenir o disminuir los signos de la edad. ¡Úsalos y descubre sus beneficios! Encuéntralos en cualquier Farmacia Similares.</br></br>
    </p>
</div>
