<div class="notaFrame">
    <p class="contenido">
        Cuando eras pequeña seguro veías a tu mamá aplicarse diferentes cremas en el rostro para lucir más linda, y ahora que te miras al espejo te preguntas si ha llegado el momento de recurrir a ellas.</br>
        </br>
        Los especialistas en la piel recomiendan que los 30 años son la edad perfecta para comenzar a usar cremas de tratamiento y prevenir así, los signos de la edad que aparecen con el tiempo.</br>
        </br>
        Pero, <b>¿sabes cómo funcionan?</b> La piel tiene diferentes capas, y una de las principales es la dermis. Ahí está el colágeno y elastina que le dan el soporte, elasticidad y firmeza a la piel. Además, es precisamente en esta capa donde se reproducen las células para que nuestra piel luzca joven.</br>
        </br>
        En este sentido, <b>las cremas de tratamiento concentran diferentes activos benéficos</b>, con los cuales pueden ayudar a diferentes objetivos: humectar, regenerar, reparar, reafirmar o funcionar como antioxidantes para la piel. Uno de los componentes más comunes en las cremas de tratamiento es el ácido hialurónico, que ayuda a que la piel se mantenga hidratada, evitando que el agua se evapore. Hoy en día, la mayoría de las cremas contienen esta sustancia, lo que ha hecho que los científicos se esfuercen cada vez más por encontrar nuevas fórmulas más eficaces.</br>
        </br>
        Es importante saber que no todas tienen una misma consistencia, ya que no todas las pieles son iguales. Por ejemplo: para grasas, mixtas y normales existen cremas ligeras, sueros o geles; y para los cutis secos, cremas más untuosas.</br>
        </br>
        Para elegir tu crema de tratamiento ideal, <b>¿conoces tu tipo de piel?</b></br>
        </br>
    </p>
    <ul>
        <li><b>Piel seca:</b> los poros lucen cerrados, sin brillo, puede verse escamosa y dar una sensación de rigidez después de lavar tu cara.</li>
        <li><b>Piel mixta:</b> presenta poros abiertos y brillo en la zona "T" (frente, nariz, y barbilla). La otra parte del rostro tiene poros más cerrados y luce más reseca.</li>
        <li><b>Piel grasa:</b> se caracteriza por poros abiertos y brillo en toda la cara, incluso puntos negros.</li>
        <li><b>Piel normal:</b> casi nadie tiene la fortuna de poseerla, pero quien sí, disfruta de un cutis terso e hidratado, sin poros cerrados, brillo ni resequedad.</li>
    </ul>
    <p class="contenido">
        Recuerda que <a href="http://eternalsecret.com.mx/" target="blank">Eternal Secret</a> cuenta con una amplia línea de cremas de tratamiento. Encuéntralas en <b>Farmacias Similares</b>, donde podrás conocer todas y saber cuáles son ideales para tu tipo de piel.
    </p>
</div>
