<div class="notaFrame">
	<p class="contenido">
		El paso del tiempo es algo que no se puede evitar. En la piel se notan los años al verse afectada por un sinnúmero de factores ambientales, como: el sol en exceso, el humo del cigarro, así como la mala alimentación, poca hidratación, estrés, falta de sueño…</br></br>

		Una forma de cuidar tu piel es agregar en tu dieta diaria alimentos con vitamina C y vitamina E, juntas resultan una gran alianza para mantener la piel saludable.</br></br>
	</p>
	<p class="contenido">
		<b>Vitamina E</b></br></br>
	</p>
	<p class="contenido">
		Los especialistas la recomiendan especialmente para tener una piel radiante, tersa y saludable. Es antioxidante, destruye los radicales libres que se forman por la acción de las radiaciones ultravioletas, retardando el envejecimiento cutáneo. También estimula el sistema inmune. Puedes encontrarla en alimentos como: Aceites de girasol, germen de trigo, yema de huevo, cereales integrales, legumbres, pescado, carne y verduras de hoja verde, así como en las <a href="http://eternalsecret.com.mx/#!/productos/vitamina-e-facial-con-sabila" target="blank">Cápsulas de Vitamina E con sábila de Eternal Secret.</a></br></br>
	</p>
	<p class="contenido">
		<b>Vitamina C</b></br></br>
	</p>
	<p class="contenido">
		Es la reina de las vitaminas en épocas de frío para la prevención de enfermedades respiratorias. Lo que pocos saben es el gran aporte que tiene para la regeneración de tejidos. La vitamina C es uno de los grandes antioxidantes que potencializa el efecto de los antioxidantes de la vitamina E. Los pimientos morrones rojos aportan una gran cantidad de vitamina C, el ají y el perejil, el kiwi, la coliflor, el brócoli y los cítricos, también.</br></br>

		Hay quienes advierten sobre los riesgos de consumir vitamina C en exceso, aunque es sabido que generalmente el cuerpo elimina los excedentes a través de la orina, sin causar daño. En algunos casos la ingesta excesiva prolongada puede tener consecuencias.</br></br>

		Ojo con la exposición al sol excesiva, ya que disminuye esta reserva de vitamina C. Es por eso que se debe utilizar protector solar a diario. Esta vitamina, además, es esencial para la biosíntesis y estabiliza las fibras de colágeno y elastina, manteniendo la elasticidad de la piel.</br></br>

		No olvides la importancia de la hidratación desde el interior, complementa tu día bebiendo agua. Una gran idea es agregar un poco de jugo de limón y beberlo en ayunas, ¡verás que tu organismo te lo agradecerá enormemente!</br></br>
	</p>
</div>