<div class="notaFrame">
	<p class="contenido">
		Todos hemos escuchado y hablado del “bullying” (acoso escolar), que se da en niños y adolescentes con una edad entre los 8 y 16 años. Algunos de ellos forman grupos para agredir verbal y/o físicamente a uno o varios de sus compañeros, en especial a aquellos que identifican como débiles.</br></br>

		Se conocen ocho formas de agredir o tipos de acoso escolar, pero las cuatro más frecuentes son:</br></br>
	</p>

    <ul>
		<li>Aislar a la persona, evitando que juegue con otros compañeros, dejándole de hablar, buscando que quede en ridículo. Todo para que pierda posibles amigos que sean de apoyo en el colegio. </li>
		<li>Acorralarlo, a través de burlas, apodos, gestos de agresión y ridiculizándolo con patadas, zapes, tirar su mochila, ponerle el pie para que se caiga, etcétera.</li>
		<li>Manipulación, se busca hablar mal de la persona a través de chismes, haciéndolo ver como inútil, tonto, chismoso o mal compañero para el grupo, buscando así que los demás se alejen de él o ella.</li>
		<li>Amenazarlo, a través de mencionar que lo golpearán, o lastimarán a sus seres queridos, como amigos o familiares. Esto con la intención de que la víctima siempre acepte todo lo que el agresor hace.</li>
    </ul>

	<p class="contenido">
		Este tipo de conductas en las escuelas no son nuevas, pero sí, es cierto que son más frecuentes hoy en día. Gran parte de ellas son aprendidas de lo que viven en casa, ya que estos chicos que ejercen agresión, provienen de hogares con abandono emocional y nada de límites; como consecuencia, no saben respetar y pensar en el dolor de los demás.</br></br>
	</p>

	<ul>
		<li>Está sin ganas de nada, sobre todo hacia la escuela y no quiere ir más.</li>
		<li>Llega con golpes y dice que se cayó o no se fijó.</li>
		<li>Pierde sus cosas a cada rato y dice no saber dónde las dejó.</li>
		<li>Cuando preguntas por qué no quiere ir a la escuela se muestra agresivo, llora, grita y se encierra en su cuarto o sale de casa.</li>
		<li>Esta nervioso todo el tiempo.</li>
    </ul>

	<p class="contenido">
		Si respondiste a más de dos preguntas con un SÍ, te invitamos a llamar al Centro Nacional de Diagnóstico para las Enfermedades Emocionales, en donde un psicólogo te atenderá y orientará sobre cómo poder apoyar a tu hijo, sobrino o amigo, para dejar de vivir esta situación.</br></br>
	</p>
	<hr>
	<p class="contenido">
		Con información del <a href="http://www.serfelizsisepuede.com.mx/" target="blank">Centro Nacional de Diagnóstico para las Enfermedades Emocionales</a>
	</p>
	<p class="contenido">
		Dudas: Simitel 01 800 911 6666 Opción 3
	</p>
</div>