<div class="notaFrame">
	<p class="contenido">
		El ejercicio bien realizado ayuda a fortalecer tus músculos, y estos protegen tus articulaciones, pero se debe de practicar con moderaciones para prevenir su desgaste prematuro.</br></br>

		Realiza un calentamiento previo a fin de que tus músculos se activen y estén preparados para el ejercicio.</br></br>

		Los movimientos del cuerpo deben ser sincronizados; esto evitará lesiones.</br></br>

		Utiliza equipo de protección, de acuerdo con cada actividad deportiva o física.</br></br>

		Si estás lastimado, evita utilizar medidas caseras de protección para poder realizar ejercicio, ya que la lesión podría agravarse, por ejemplo: al estar lastimado de la rodilla no utilices rodillera para poder moverte; este aparato es para limitar la movilidad.</br></br>

		Si padeces alguna enfermedad, es importante acudir al médico para que te indique el tipo de ejercicio puedes realizar, y si necesario que utilices algún tipo de suplemento.</br></br>

		El cuidar tus articulaciones ayudará a que conserves de la mejor manera tu movilidad, no solo hoy, sino en el futuro.</br></br>
	</p>
</div>