<div class="notaFrame">
    <p class="contenido">
        Para mantenerte saludable basta con seguir algunos consejos que, según Mayo Clinic Health Letter, pueden ayudarte a tener una mejor salud física y lograr bienestar emocional:</br>
        </br>
        <ul>
	        <li>Come frutas y verduras diariamente. Las frutas y las verduras son fuente de antioxidantes, componentes que, se ha comprobado, ayudan a prevenir enfermedades como el cáncer, el Alzheimer y algunos trastornos del corazón.</li> 

	        <li>Ingiere fibra. Este compuesto ayuda a mejorar la digestión así como a bajar los niveles de colesterol malo. La puedes encontrar en cereales, frutas y verduras con cáscara.</li> 

	        <li>Camina. Una buena caminata rápida mejora tu salud cardiovascular y ósea. Los expertos recomiendan hacer una caminata vigorosa diario por lo menos durante 30 minutos.</li>

	        <li>Estírate. Los ejercicios de estiramiento te ayudan a conservar tu cuerpo en buen estado, si los combinas con ejercicios para fortalecer los músculos podrás mantener una buena movilidad y así evitar caídas.</li>

	        <li>Practica yoga y tai chi. Ambas disciplinas abarcan mente y cuerpo y combinan cinco tipos importantes de ejercicio, los aeróbicos, fortalecimiento muscular, estabilidad central, flexibilidad y equilibrio. Las investigaciones plantean que el yoga y el tai chi ayudan a disminuir la presión sanguínea y el estrés, además de mejorar el ánimo y el sueño.</li>

	        <li>Mantén pensamientos positivos. Las personas que miran el lado positivo de las cosas que les suceden son más proclives a sentirse mejor y vivir más tiempo.</li>

	        <li>Ten una mascota. A pesar de ser pocas (aunque van en aumento), las investigaciones plantean que tener una mascota beneficia a la salud de varias maneras. Un estudio descubrió que entre las víctimas de un ataque cardíaco, los propietarios de perros tenían muchas más posibilidades de estar vivos un año después que quienes no los tenían. Los dueños de perros se benefician de las caminatas diarias y son menos propensos a la obesidad que quienes no los tienen.</li>
	        
	        <li>Fortalece tu relación con las personas que te rodean. Perdona a aquellos que te hayan hecho daño y plantéate la oportunidad de tener una relación distinta con ellos. Perdonar mejora el ánimo y disminuye el estrés.</li>
        </ul><br>
        Fuente: <a href="http://www.diabetesbienestarysalud.com" target="_blank">www.diabetesbienestarysalud.com</a>
    </p>
</div>
