<div class="notaFrame">
    <p class="contenido">
        <b>¿Qué es?</b></br></br>

        La Gastritis es una inflamación de la mucosa gástrica (revestimiento interno del estómago).</br></br>

        <b>¿Cuáles son los síntomas?</b></br></br>

        Dolor tipo ardoroso en el epigastrio, comúnmente conocido como la “boca del estómago", sensación de quemazón en la parte superior del abdomen, náuseas, mareos, reflujo gastroesofágico (agruras), distención abdominal, pérdida de apetito, acidez, eructos, dolor en el tórax.</br></br> 

        <b>¿Cuáles son sus causas?</b></br></br>

        Estrés, malos hábitos alimenticios, exceso en el consumo de tabaco, café, alcohol, infección bacteriana o viral, abuso en medicamentos que irriten la mucosa del estómago.</br></br>

        <b>¿Qué hacer?</b></br></br>

        Establecer un plan para cambiar malos hábitos alimenticios, disminuyendo irritantes y condimentos, un mejor manejo de estrés para disminuir su impacto en el sistema digestivo. Consulta a tu médico.</br></br>
    </p>
</div>
