<div class="notaFrame">
    <p class="contenido">
        DIARREA:</br></br>

        <ul>
            <li>La diarrea se define como un aumento de las evacuaciones, esto es más de tres al día, presentando estas una disminución de las consistencias normales (líquidas o semisólidas), esta puede ser causadas por bacterias, parásitos, virus, estrés, trastornos funcionales o de absorción a nivel intestinal.</li>
            <li>Una forma de prevenir la Diarrea es lavándote las manos antes de comer, preparar los alimentos y después de ir al baño.</li>
            <li>El principal mecanismo de infección gastrointestinal es por contaminación de las manos después de ir al baño.</li>
        </ul>

        PARÁSITOS:</br></br>

        <ul>
            <li>Son organismos que viven a expensas de los tejidos de un ser vivo (hospedador). Se dice que un parásito es obligado si sólo puede vivir en el hospedador y facultativo si puede desarrollarse también sin parasitar a un ser vivo.</li>
            <li>Los parásitos intestinales suelen ocasionar trastornos intestinales por irritación en las paredes del tubo digestivo lo que altera la digestión de los alimentos generando gases.</li>
            <li>La OMS (Organización Mundial de la Salud) recomienda desparasitar a todos los niños menores de 5 años, ya que es la edad donde se dan en mayor porcentaje los malestares estomacales en este sector de la población,  en general se desparasita a los niños a partir de los 2 años y hasta los 12 años, aunque en lugares donde se existe una alta incidencia de niños parasitados se puede iniciar las desparasitaciones desde el año de edad, en niños menores de un año es poco frecuente que se   establezca como rutina una de  desparasitación.</li>
        </ul>

        Consulte a su médico.<br>
    </p>
</div>
