<div class="notaFrame">
	<p class="contenido">
		En esta ocasión te daremos algunas <b>recomendaciones</b> para iniciar con ejercicios en un parque o gimnasio, <b>que mejorarán tus niveles de glucosa</b>:</br></br>
		<ol>
			<li>Si estás debutando en el mundo del ejercicio, lo primero es no exigirle a tu cuerpo demasiado; tómate tu tiempo e inicia con sesiones de 20 minutos, de ser posible, diariamente.</li>
			<li>Realiza pequeños descansos durante tu sesión; te ayudará a recuperarte más rápido.</li>
			<li>Invita a un amigo, hermano o hijo para que te acompañen en tu rutina; es más agradable y te motivará a ejercitarte diario.</li>
			<li>Si tu guardarropa no es muy amplio, te recomendamos elegir ropa de algodón y un calzado cómodo, o bien tenis, así evitarás lesiones en tus pies.</li>
			<li>Recuerda que es necesario llevar una identificación que incluya el nombre y teléfono de la persona a la que puedan llamar en caso de una urgencia.</li>
			<li>También necesitarás paciencia, ya que los resultados del ejercicio no son inmediatos; sin embargo, si lo sumas a una alimentación saludable, ¡estar en forma, será más sencillo!</li>
		</ol>
	</p></br>
</div>