<div class="notaFrame">
    <p class="contenido">
        Se trata de una de las bebidas más castigadas por su alto contenido de cafeína, pero ¿será real todo lo que se dice?</br></br>

        El café es una de las bebidas de consumo más difundido en el mundo. Prácticamente no hay región del mundo en donde no se prepare. Existe una gran variedad de tipos da café y aunque a algunos no les resulta atractivo su sabor, podríamos afirmar que muchas personas no podrían vivir sin él.</br></br>

        Pero su consumo se ha asociado a algunos problemas de salud, por ejemplo insomnio o colitis, por lo que una de las recomendaciones más extendidas es la de dejar de tomarlo. Sin embargo, en una cantidad moderada, te puede dar muchos beneficios. ¡Conócelos!</br></br>

        <b>Beneficios de tomar una taza de café al día</b></br></br>

        Si consumes una taza de café al día puedes obtener los siguientes beneficios:</br></br>

        <ul>
            <li>Aumento de la energía de tu metabolismo.</li>
            <li>Grandes cantidades de antioxidantes.</li>
            <li>Mejoras en tu memoria.</li>
            <li>Evitar enfermedades del hígado.</li>
            <li>Inhibir el desarrollo de estados depresivos por su efecto estimulante en el sistema endócrino.</li>
            <li>Tiene propiedades diuréticas: aumenta la velocidad del pasaje de desechos por el organismo.</li>
            <li>Obtener grandes cantidades de potasio y de magnesio.</li>
            <li>Mejorar la agudeza mental y coordinación de los movimientos.</li>
        </ul>
    </p>
    <p class="contenido">
        <b>¿Qué tiene una taza de café?</b></br></br>

        Cada taza de café contiene alrededor de 100 mg de cafeína: más o menos el doble que contiene una bebida de cola o una taza de té y apenas un poco más del doble que la cafeína presente en una barra de chocolate. Además de la cafeína se conocen alrededor de 800 compuestos químicos en el café. Según la cantidad y naturaleza de éstas, los granos de café adquieren un sabor distinto, incluso hay compuestos que le proporcionan sensaciones de avellana, nuez, caramelo y, aunque parezca increíble, de seta, hongo, carne, etc.</br></br>

        Beber café con moderación, es decir, dos o tres tazas por día, produce efectos positivos.</br></br>

        <b>Evíta el café si:</b></br></br>

        Sin embargo, el café no es para todos: las mujeres embarazadas deben dejarlo ya que algunos estudios sugieren que puede ocasionar abortos. Personas con gastritis o reflujo gástrico tampoco pueden consumirlo, ya que sus síntomas empeoran.</br></br>

        <b>El abuso del café es nocivo para la salud</b></br></br>

        Si abusas en el consumo de café, puedes enfrentar los siguientes problemas:</br></br>

        <ul>
            <li>Ansiedad</li>
            <li>Dependencia a la cafeína</li>
            <li>Desarrollo de gastritis por un exceso de estimulación de secreción gástrica</li>
            <li>Aumento en la sensibilidad y disminución de los reflejos</li>
            <li>Reducción de la efectividad de ciertos medicamentos</li>
            <li>Alteraciones del ritmo cardiaco si se le combina con antidepresivos</li>
            <li>Interferir con la efectividad de los anticonceptivos orales y fármacos para el corazón o las úlceras</li>
            <li>Cuando la cantidad que se bebe es demasiada, provoca dificultades para dormir.</li>
        </ul>

    </p>
    Fuente: www.diabetesbienestarysalud.com
</div>
