<div class="notaFrame">
	<p class="contenido">
		Dentro de las principales enfermedades que padecemos los mexicanos están las de origen respiratorio, que se agravan en la temporada invernal. </br></br>

		<b>Para prevenirlas te recomendamos lo siguiente:</b></br></br>
	</p>

    <ul>
	        <li>Abrígate</li>
	        <li>Consume abundantes líquidos, frutas y verduras, ricas en vitaminas A y C (kiwi, naranja, toronja, limón, guayaba, fresa, durazno, melón, mango, espinaca, brócoli, zanahoria, papa, calabaza, etc.)</li>
	        <li>Si estás enfermo, lávate las manos frecuentemente con agua y jabón para evitar contagios</li>
	        <li>Cúbrete la boca y la nariz con un pañuelo desechable al toser o estornudar; también puedes cubrirte con el ángulo interno del codo</li>
	        <li>Si es necesario escupir, hazlo en un pañuelo, tíralo a la basura y lávate las manos</li>
	        <li>Limpia y desinfecta el entorno en que te encuentres</li>
	        <li><b>¡NO TE AUTOMEDIQUES!</b> En caso de cualquier molestia, acude de inmediato al consultorio médico</li>
	        <li>Cambia el cubrebocas con frecuencia y deséchalo en un bote de basura</li>
	</ul>

	<p class="contenido">
		Para más información, prevención o tratamiento, acude a los consultorios médicos de Fundación Best, que se encuentran al lado de las Farmacias Similares.
	</p>
	</p>
</div>