<div class="notaFrame">
	<p class="contenido">
		Las enfermedades gastrointestinales ocupan una de las primeras causas de consulta médica, y también de muerte en México y resto del mundo.</br></br>

		Este tipo de males afectan diversos órganos del tubo digestivo: esófago, estómago, duodeno, ano, recto, páncreas e intestinos delgado y grueso. Se manifiestan en nuestro cuerpo como agruras, náuseas, vómito, dolor abdominal, inflamación, diarrea (heces sueltas, deposiciones frecuentes), además de otros síntomas. </br></br>

		Entre las enfermedades gastrointestinales más comunes están la gastritis, las úlceras, colitis, reflujo gastroesofágico, colon irritable, salmonelosis, amebiasis, cálculos biliares, algunos tipos de hepatitis e incluso el cáncer.  </br></br>

		Es importante hacer hincapié en algunos padecimientos infecciosos, como los manifestados por DIARREA:</br></br>

		<ul>
			<li>La causa más común es una gastroenteritis vírica epidémica, la cual puede desaparecer de manera espontánea en cuestión de días</li>
			<li>Comer alimentos o beber agua que contengan ciertos tipos de virus,  bacterias o parásitos</li>
			<li>Ciertos medicamentos también pueden causar diarrea, entre ellos algunos  antibióticos, fármacos quimioterapéuticos para el cáncer y laxantes que contienen magnesio</li>
		</ul>

		También pueden ser causa determinados trastornos médicos, como:</br></br>

		<ul>
			<li>Deficiencias en la absorción de ciertos alimentos, como el gluten y lactosa, entre otros</li>
			<li>Enfermedades intestinales inflamatorias (mal de Crohn y colitis ulcerativa)</li>
		</ul>
	</p>
</div>