<div class="notaFrame">
	<p class="contenido">
		Por el impacto que representa en materia de salud, su experiencia, infraestructura, reconocimiento social, vinculación con los sectores productivos y el perfil de su capital humano, <b>el Consejo Nacional de Normalización y Certificación de Competencias Laborales (Conocer) entregó a Farmacias Similares la cédula que la acredita como entidad certificadora</b>.</br></br>

		En una ceremonia encabezada por Liliana Reyes Duarte, funcionaria de la Secretaría de Educación Pública, estableció que con esta cédula, Farmacias Similares comienza una nueva etapa en la gestión de capital humano en el sector farmacéutico de México.</br></br>

		También, ratificó que se convierte en la <b>primera cadena farmacéutica a nivel nacional que cuenta con el aval para certificar</b> a los 7,368 jefes, subjefes y vendedores que se ven involucrados en el manejo y dispensación de medicamentos.</br></br>

		Como entidad de evaluación de competencias “reciben todo nuestro apoyo institucional para que la certificación por competencias siente precedente nacional y sea el parteaguas, para que llegue un mejor servicio a todos los usuarios de este sistema”.</br></br>

		Al momento de recibir la cédula oficial, en representación de Víctor González Torres, el ingeniero Óscar de la Sierra, vicepresidente del Grupo Por Un País Mejor, expuso: “Este logro es un reconocimiento a nuestro compromiso con México.</br></br>
	</p>

	<blockquote>“Como siempre nos los ha dicho don Víctor, somos una empresa que se apega a todas las leyes que marca el país en todas las materias, y esta no es la excepción”.</blockquote></br>

	<p class="contenido">
		Recibir el aval por parte de la SEP es motivo de orgullo, pero también de compromiso, ya que “queremos ser la mejor cadena de farmacias en cuanto a la atención en el servicio, con gente mejor capacitada, mejor formada y llena de valor.</br></br>

		“Esto nos fortalece como empresa, nos fortalece como grupo y, sin duda, también marcamos una nueva pauta, al ser la primera cadena de farmacias que logra este reconocimiento”, estableció De la Sierra Arámburo.</br></br>

		Ahora, la fuerza de ventas tendrá que pasar la certificación y demostrar que dará el mejor servicio con la responsabilidad que significa la dispensación de fármacos.</br></br>

		El proceso de certificación se inició en octubre de 2014, y gracias a él se podrá avalar que los compañeros de farmacia cuentan con el conocimiento necesario en el manejo y dispensación de medicamentos.</br></br>

		Durante este primer año, se tiene previsto que 5,000 colaboradores, con seis meses de antigüedad, logren certificarse.</br></br>

		Farmacias Similares demuestra que el conocimiento es la inversión más redituable para cualquier país y que producirlo -y certificarlo- es la mejor vía para el crecimiento de México. ¡Enhorabuena!</br></br>
	</p>
</div>