<div class="notaFrame">
	<p class="contenido">
		Se trata de un acto tan cotidiano, simple y económico que, según expertos, puede salvar más vidas que cualquier vacuna o intervención médica. Lavarse las manos además reduce las muertes por diarrea e infecciones respiratorias agudas en todo el planeta, enfermedades que, por ejemplo, sólo en el caso de niños menores de 5 años, causan 3.5 millones de muertes anuales.</br></br>

		Lavarse las manos adecuadamente detiene la transmisión de gran parte de las bacterias que transmiten las heces humanas. El no asearlas de manera correcta puede provocar infecciones gastrointestinales comunes, otras más graves como tifoidea o cólera, así como infecciones respiratorias como neumonía o gripe.</br></br>

		Como puedes ver es un acto que nos puede salvar la vida, de ahí la importancia de saber lavarte las manos como corresponde.</br></br>
		</p>

    <ul>
		<li>No basta solo usar agua, se requiere jabón. Este actúa como desengrasante y eliminador de los gérmenes que tanto daño pueden causar.</li>
		<li>Siempre y sin excepción lava tus manos después de ir al baño, limpiar a un niño, recoger heces fecales de tu macota o acariciarla, y por supuesto, antes de manipular alimentos.</li>
		<li>La técnica ideal para lavarte es humedecer las manos, cubrirlas con jabón y frotar toda la superficie, incluidas las palmas, el dorso, entre los dedos y con mayor razón, por debajo de las uñas, al menos por 20 segundos. Luego, enjuaga bien con agua corriente y sécalas con un paño limpio, toalla desechable, o bien, agitando las manos. De preferencia cierra la llave con la misma toalla con la que secaste tus manos para no contaminarlas de nuevo.</li>
		<li>Cuando no tienes la posibilidad de usar agua y jabón, recurre al gel antibacterial, pero recuerda ¡nada reemplaza el lavado de manos correcto!</li>
	</ul>
</div>