<div class="notaFrame">
	<p class="contenido">
		Los mexicanos hemos ido escalando en el índice mundial de personas con obesidad y sobrepeso, lo que convierte este tema en un problema de salud pública.</br></br>

		Esta situación se ha agravado en los últimos años como consecuencia de un estilo de vida en el que prevalecen la ingesta de comida “chatarra” y el sedentarismo. No obstante, el aspecto emocional también es importante, ya que, por ejemplo, se suele evadir el displacer con la comida, lo que resulta en personas que ante la ansiedad o la tristeza, comen de manera excesiva.</br></br>

		Además de las complicaciones físicas y enfermedades relacionadas con la obesidad, las personas pueden desarrollar otros problemas, como baja autoestima, provocada por las burlas; rechazo y presión social; inseguridad y vergüenza en las relaciones sociales; limitaciones para participar en algunas actividades, por mencionar algunas implicaciones que afectan la calidad de vida. Más aún, la obesidad puede ser la expresión de alguna dificultad en los ámbitos emocional, familiar, escolar o laboral, que la persona no logra identificar o enfrentar.</br></br>

		Por lo general, los tratamientos para la obesidad se centran en la modificación de los hábitos alimenticios y en la implementación de una rutina de actividad física, pero es característico el abandono o interrupción de las dietas o una fluctuación constante entre la “resignación” y la lucha frenética para bajar de peso, con los consiguientes sentimientos de frustración, culpabilidad y devaluación.</br></br>

		Lo que se suele dejar de lado, es precisamente la importancia del aspecto psicológico y la necesidad de llevar un tratamiento integral para la obesidad, en el cual, a través de la psicoterapia, se identifique el o los problemas que la persona trata de resolver con la ingesta excesiva de comida, y logre encontrar otras formas de manejar sus emociones.</br></br>

		Por lo tanto, es importante:</br></br>

		<ol>
			<li>Aceptar que es un problema de salud, no de moda, y que requiere tratamiento integral, pero que esto no determina el valor de tu persona.</li>
			<li>Evitar los métodos que prometen resultados “mágicos”.</li>
			<li>Ponerse en manos de profesionales, como médicos, nutriólogos y psicólogos.</li>
		</ol>
	</p></br>
</div>