<div class="notaFrame">
    <p class="contenido">
        En México, una de cada tres mujeres tiene osteoporosis, la cual se complica si existe Diabetes.</br></br>

        Desde pequeños, una de las recomendaciones más frecuentes que nos daban nuestros padres era tomar leche, para que nuestros huesos se desarrollaran. Y tenían toda la razón.</br></br>

        La osteoporosis es una enfermedad en la que <b>los huesos se debilitan a causa de la pérdida de masa ósea:</b> la parte interna de los huesos asimila calcio hasta los 35 años de edad, aproximadamente. Después de este periodo, esta masa ósea pierde calcio y comienza a volverse porosa, <b>poco a poco el hueso se debilita y aumentan las probabilidades de que se rompa.</b></br></br>

        <b>¿Es una enfermedad de mujeres?</b></br></br>

        Aunque el padecimiento afecta a ambos sexos, <b>es mucho más común en mujeres que en hombres.</b> ¿Por qué? La mujer tiene menos masa ósea y tiende a vivir más años; a lo largo de su vida absorbe menos calcio y necesita de estrógenos para mantener los huesos fuertes. Además, en la mujer, <b>la velocidad de la pérdida ósea se acelera después de la menopausia,</b> cuando los niveles de estrógeno disminuyen.</br></br>

        <b>Cuidado:</b> los especialistas comentan que la gravedad del padecimiento radica principalmente en que no muestra síntomas visibles, por lo que el diagnóstico y tratamiento se retrasan.</br></br>

        <b>La Diabetes: factor de riesgo para desarrollar osteoporosis</b></br></br>

        <b>Los niveles de azúcar juegan un papel muy importante</b> en el equilibrio de un proceso que se lleva a cabo en el interior de los huesos: la creación y la destrucción de células óseas. El adecuado equilibrio entre ambas partes del proceso permite que los huesos se mantengan fuertes y sanos. Por lo que la aparición de la Diabetes, aumenta el riesgo de fracturas.</br></br>

        <b>¿Sabías que…</b>
        <ul>
            <li>Las mujeres latinas (entre las que se encuentran las mexicanas) sufren de osteoporosis 10 años antes que en otros países.</li>
            <li>En México, una de cada tres mujeres padece osteoporosis.</li>
            <li>La estimación mundial apunta que cerca de 200 millones de hombres y mujeres sufren este padecimiento. <b>Fuente: International Osteoporosis Foundation.</b></li>
        </ul>
    </p>
    <p class="contenido">
        Por otro lado, la Fundación Internacional de Osteoporosis, la Asociación Internacional Médica de Mujeres y Reader’s Digest, con el apoyo de Laboratorios Novartis, realizaron la Encuesta Mundial de Osteoporosis. Entre los resultados se observa que el estereotipo anticuado de las “mujeres maduras” ha quedado en el pasado, ya que muchas tienen una vida social activa, <b>por lo que consideran necesario que el Médico tenga en cuenta su estilo de vida al momento de prescribir un tratamiento.</b>
    </p>
    Fuente: www.diabetesbienestarysalud.com
</div>
