<div class="notaFrame">
	<p class="contenido">
		La tensión arterial sistémica es la fuerza que ejerce la sangre en las arterias, como lo hace el agua al pasar por una manguera.</br></br>

		Se mide con instrumentos manuales o digitales, conocidos como “baumanómetros”, los cuales nos dan dos cifras. La normal es de 120/80 milímetros de mercurio (mmHg).</br></br>

		Ahora bien, la hipertensión es cuando hay cifras arriba de 140/90 mmHg. En nuestro cuerpo, cuando la sangre circula con mucha presión, puede dañar varios órganos y ocasionar la ruptura de algunas arterias. Ejemplos de ello son: una hemorragia nasal o un derrame en el ojo.<br><br>

		No siempre causa molestias, por lo que se le conoce como “el asesino silencioso”, pues los órganos se pueden ir dañando sin darnos demos cuenta, y cuando por fin observamos algún daño, es porque ha transcurrido mucho tiempo con el organismo en cifras altas de tensión arterial.<br><br>

		Por lo anterior, es importante que hagamos un chequeo médico, por lo menos, una vez al año, en el que se incluya la medición de la tensión arterial. Asimismo, realizarlo ante la presencia de dolor de cabeza, zumbido de oídos o ver lucecitas.<br><br>

		Cabe precisar que el 25.5 % de la población en México padece hipertensión arterial sistémica, según la Encuesta Nacional de Salud y Nutrición de Medio Camino 2016. De acuerdo a esta, el 40 % de estos pacientes mencionó que desconocían tenerla.<br><br>

		Una manera de detectarla es asistir al médico una o dos veces por año, y en caso de hacer una detección y se requiera de un tratamiento, existe una gama muy amplia de medicamentos a elegir, de acuerdo con tus necesidades.<br><br>

		Recuerda que solo debes medirla, detectarla y tratarla: Fundación Best, en pro de tu salud.<br><br>
	</p>
</div>