<div class="notaFrame">
    <p class="contenido">
        La temporada más fría del año ha llegado y todos sabemos que usar un suéter abrigador, alimentarnos e hidratarnos correctamente, así como consumir algunas vitaminas, nos ayudarán a prevenir enfermedades respiratorias. Pero, ¡también tu piel puede sufrir por el frío! ¿Lo sabías?</br></br>

        Y es que las bajas temperaturas provocan que, sobre todo, la piel del rostro y las manos resientan el frío, ya que no solemos cubrirlas como el resto de nuestro cuerpo. La resequedad puede manifestarse a través de picazón, despellejamiento y una sensación de aspereza, que puede incluso, llegar a causar laceraciones si no se hidrata correctamente la piel.</br></br>

        En el caso de las manos, es recomendable que antes de salir de casa, apliquemos una crema muy hidratante para que las proteja, como la <a href="http://eternalsecret.com.mx/#!/productos/crema-para-manos-manteca-de-karite" target="blank">Extra humectante y suavizante con manteca de Karité</a>, incluida en la línea de <a href="http://eternalsecret.com.mx/#!/" target="blank">Eternal Secret</a>. Esta ayuda a mantenerla tersa, evitando que se maltrate a causa del frío. Lo mejor es que puede usarse a cualquier hora del día y cuántas veces sea necesaria.</br></br> 

        Otro tip para cuidar tus manos es que, a la hora de lavar los trastes, trapear, o la ropa en casa, uses guantes, ya que estos protegerán tus manos y evitarán que el frío las reseque. Si no hay otra opción y tienes que tocar el agua, o simplemente no te acomoda lavar con guantes, al terminar no olvides secar bien tus manos y aplicar un poco de crema en tus manos para cuidarlas.</br></br>

        Aunque muchos hombres suelen ser menos cuidadosos con su piel, ¡también deben poner atención durante el invierno!, ya que la resequedad puede afectar tanto la piel de ellos, como de ellas. En este caso, tanto tus hijos, hermanos o marido, pueden usar la crema Extra humectante y suavizante con manteca de Karité, ya que su aroma es muy ligero y su absorción es rápida, lo que resulta cómodo y beneficioso para su piel.</br></br>

        Así que ya sabes, así como cuidas tu rostro con una rutina de belleza cada mañana, la mejor forma de cuidar tus manos es siempre aplicar una crema hidratante formulada especialmente para ellas, como la Extra humectante y suavizante con manteca de Karité, que es ideal para ayudarte a lucir tu belleza.
    </p>
</div>
