<div class="notaFrame">
	<p class="contenido">
		Preocuparnos por la obesidad o sobrepeso no es cuestión de imagen o de cómo te quede la ropa. Va más allá.</br></br>

		Estos padecimientos son factores muy importantes para contraer otras enfermedades que pueden generar un cambio importante en tu vida, por ejemplo, diabetes e hipertensión arterial.</br></br>

		Sin embargo, no son las únicas consecuencias. Hay alteraciones osteomusculares, como dolor e inflamación de articulaciones en los tobillos y rodillas, y cambios en la columna vertebral, por la excesiva carga de peso, además de padecimientos respiratorios, como el asma. <br><br>

		La obesidad está relacionada con el riesgo de padecer algunos tipos de cáncer, por ejemplo, de esófago, páncreas, colon, recto, mama y tiroides, entre otros. Por si fuera poco, está el aspecto emocional, afectado por la percepción corporal. <br><br>

		Si a esto le agregamos el consumo de tabaco y alcohol, la situación se complica aún más. <br><br>

		Por lo anterior, te invitamos a mantener tu salud controlando tu peso, de forma que no solo te veas bien, sino te sientas bien y, con ello, limites la posibilidad de padecer algunas de estas enfermedades. <br><br>

		Bien lo dice el refrán: “Más vale prevenir que lamentar”, así que ¡no olvides consultar a tu médico y al nutriólogo! <br><br>

		Para más información, prevención o tratamiento acude a los consultorios médicos de Fundación Best, que se encuentran al lado de las Farmacias de Similares. <br><br>
	</p>
</div>