<div class="notaFrame">
	<p class="contenido">
		En la cosmética hay un amplio número productos para cuidar la piel tanto de los hombres, como de las mujeres, pero pocas personas saben exactamente qué son, cómo se usan y cuáles son los beneficios que va a obtener. Aquí conocerás todos los detalles sobre el Serum, no es una crema, pero tiene beneficios mucho más potentes que una de ellas. </br></br>

		Los <b>Serum</b> son sueros donde se concentran ciertas sustancias que son excelentes para la piel, en especial la del rostro. Su principal característica es que son muy ligeros, lo que ayuda a que sean de rápida absorción, logrando así, que los activos penetren hasta lo más profundo y ayuden a resolver ciertas carencias o problemas que se presentan con el paso de los años.</br></br>

		En el caso del <a href="http://eternalsecret.com.mx/#!/productos/serum-dermo-renovador">Serum Dermorenovador de Eternal Secret</a>, este contiene un activo principal llamado <b>Antarcticina</b>, ¿habías escuchado de él? Su origen está en el mar Antártico, el cual tiene el clima más extremo del mundo. En él habitan los únicos organismos que sobreviven gracias a la Antarcticina. ¡Imagina lo que este ingrediente hará sobre tu piel!</br></br>

		Es justo gracias a la acción de la <b>Antarcticina</b>, que el serum desvanece las líneas de expresión, provocando sobre la piel un efecto tensor inmediato. </br></br>

		Y es que cuando una piel es joven, es lisa, pero conforme vamos creciendo aparecen las líneas de expresión. El <a href="http://eternalsecret.com.mx/#!/productos/serum-dermo-renovador">Serum dermo renovador</a> ayuda a generar nueva piel, para que esta vuelva a recuperar su apariencia natural, es decir, esté lisa.</br></br>

		Entre sus beneficios están:
		</p>

    <ul>
	        <li>Alisar.</li>
	        <li>Dar firmeza y elasticidad.</li>
	        <li>Proteger de los cambios bruscos de temperatura (frío).</li>
	</ul>

	<p class="contenido">
		Es ideal para todo tipo de piel, y está recomendada para mayores de 25 años. </br></br>

		La forma de utilizarlo es muy sencilla: después de lavar la piel y aplicar el <a href="http://eternalsecret.com.mx/#!/productos/tonificante-dermo-oxigenador">Tonificante Eternal Secret</a>, se debe usar el Serum con movimiento circulares ascendentes. Se debe dejar unos segundos a que se absorba, para continuar con la aplicación de cualquier crema hidratante. </br></br>

		Recuerda que toda la línea <a href="http://eternalsecret.com.mx/#!/">Eternal Secret</a> está de venta exclusiva en Farmacias Similares.
	</p>
	</p>
</div>