<div class="notaFrame">
	<p class="contenido">
		<b>El estreñimiento es motivo de consultas frecuentes</b>. Algunas personas que lo padecen le dan poca importancia y tratan de resolverlo con laxantes, lo que puede acarrear más problemas que beneficios. Por tal motivo, <b>es indispensable la asesoría de un médico o nutriólogo para mejorar este padecimiento</b>.</br></br>

		En tanto, te dejamos estas recomendaciones del equipo de médicos y nutriólogos del <b>Dr. Simi®</b>:
	</p>

	<blockquote>Come a tus Horas</blockquote>

	<p class="contenido">
		Procura tener un horario fijo para cada tiempo de comida.</br></br>
	</p>

	<blockquote>Consume Frutas con Cáscara</blockquote>

	<p class="contenido">
		Come mínimo 1 fruta por tiempo de comida, prefiriendo aquellas que se pueden consumir con cáscara, ya que cuentan con una mayor cantidad de fibra.</br></br>
	</p>

	<blockquote>Come Verduras Crudas</blockquote>

	<p class="contenido">
		Incluye verduras en cada tiempo de comida, procurando que en un tiempo de comida sean crudas o sean ensaladas con pepino, lechuga, espinacas, zanahoria, jitomate, jícama, calabazas, etc.</br></br>
	</p>

	<blockquote>Elige Cereal Integral</blockquote>

	<p class="contenido">
		Prefiere los cereales integrales, como arroz, pan tostado, pan de caja o bolillo integral, así como avena, amaranto, salvado de trigo, linaza, etc.</br></br>
	</p>

	<blockquote>Hidrátate Bien</blockquote>

	<p class="contenido">
		Es muy importante la cantidad de agua que consumes, entre más fibra se incluya en la alimentación se debe de aumentar la cantidad de agua. Si consumes fibra, pero no tomas agua, es posible que el estreñimiento empeore.</br></br>
	</p>

	<blockquote>Realiza Ejercicio</blockquote>

	<p class="contenido">
		Al aumentar la actividad física, estimulas el movimiento intestinal.</br></br>

		* <i>Así que ya sabes, la mejor manera de tratar el estreñimiento se centra en la combinación rica en fibra, abundante ingesta de líquidos y hacer ejercicio de forma constante</i>.</br></br>

		En <b>Farmacias Similares®</b> contamos con suplementos alimenticios que ayudarán a que tu intestino trabaje adecuadamente.</br></br>
	</p>
</div>