<div class="notaFrame">
	<p class="contenido">
		El proceso para bajar el porcentaje de grasa corporal no sucede de la noche a la mañana. Para lograrlo se requiere una alimentación saludable y un ejercitamiento adecuado.</br></br>

		Fisiológicamente, las mujeres tienen más grasa que los hombres; el rango normal oscila entre 18 y 28 %, mientras que para un hombre es entre un 8 y 20 %.</br></br>

		Tu cuerpo utilizará las reservas de grasa como fuente de energía al combinar ejercicio cardiovascular, con ejercicios de resistencia, con el fin de crear masa muscular Así eliminarás el exceso de grasa corporal, lo que te ayudará a lograr una figura armónica.</br></br>

		Aquí, unos tips de utilidad:</br></br>

		<ul>
			<li>Elige alimentos con poca grasa.</li>
			<li>Reduce el consumo de azúcar y sal.</li>
			<li>No dejes pasar más de cuatro horas sin comer, ni te saltes algún tiempo de alimento, ya que en el siguiente comerás de más.</li>
			<li>Reparte tu alimentación en 5 comidas al día: desayuno, media mañana, comida, media tarde y cena.</li>
			<li>No alternes periodos de ayuno con comidas abundantes.</li>
			<li>Come sentado, despacio y mastica muy bien los alimentos en bocados pequeños.</li>
			<li>Entre bocado y bocado, deja los cubiertos sobre la mesa.</li>
			<li>Mientras comes, no leas ni veas la televisión.</li>
			<li>Disminuye el consumo de carnes rojas y aumenta el de pescados.</li>
			<li>Consume verduras crudas y frutas, de preferencia con cáscara.</li>
			<li>Toma de 2 a 3 piezas de fruta al día. Disminuye aquellas con abundante contenido en azúcar: plátano, uvas, higos, cerezas, nísperos, etc.</li>
			<li>Bebe entre 1.5 y 2 litros de agua al día.</li>
			<li>Limita o evita el consumo de alimentos fritos, empanizados o capeados.</li>
			<li>Evita los alimentos ricos en calorías.</li>
			<li>Disminuye el consumo de refrescos.</li>
			<li>La práctica regular de ejercicio físico aumenta las necesidades de proteínas y de algunas vitaminas y minerales; si la alimentación no lo logra cubrir, se pueden emplear suplementos alimenticios que aporten vitaminas, minerales y proteínas.</li>
		</ul>

	</p></br>
</div>