<div class="notaFrame">
    <p class="contenido">
        Para cuidarla te recomendamos:</br></br>

        <ul>
        	<li>Lávate bien las manos con agua y jabón; eso ayuda a eliminar toda la suciedad y la mayoría de los microbios que pudieran contaminar, ya sea los alimentos que prepares o los que consumes.</li>
        	<li>Mastica despacio y date unos segundos entre un bocado y otro. Mantendrás así una mejor digestión, y evitarás la pesadez y somnolencia (comúnmente llamado “mal del puerco”).</li>
        	<li>Come a horas fijas esto favorece a tener un metabolismo en buen estado y a controlar la producción de ácidos estomacales.</li>
        	<li>Consume alimentos y bebidas sanos y nutritivos; estos deben estar bien cocidos o desinfectados. Esto te proporcionará la cantidad de  nutrientes, según tus requerimientos.</li>
        	<li>No abuses de condimentos, ya sean especias, aderezos y salsas picantes; algunos de ellos, por su contenido,  irritan la mucosa gástrica y aumentan la acidez del estómago.</li>
        	<li>Modera el consumo de grasas y alcohol, ya que generan acidez y favorecen la obesidad y, con ello,  enfermedades, como diabetes e hipertensión arterial. Y recuerda que los postres, en general, además de contener grandes cantidades de azúcar y grasa, hacen lenta la digestión.</li>
        	<li>Bebe agua durante el día, y evita durante la comida ingerir líquidos ricos en azúcares.</li>
        	<li>Cepilla tus dientes después de cada comida, ya que ayuda a eliminar los restos de alimentos y la placa dentobacteriana que puedan formar. Así contribuyes a tener en buen estado tu dentadura, además de evitar que las bacterias acumuladas viajen a tu estómago.</li>
        	<li>Un mal hábito es comer e inmediatamente después ir a acostarse, esto ocasiona la sensación de que la comida se te regresa y provocará agruras.</li>
        	<li>Ante cualquier malestar estomacal, como dolor abdominal, náusea o vómito y diarrea, consulta a tu médico y no te automediques.</li>
        </ul><br>
    </p>
</div>
