<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
	    <remove fileExtension=".eot" />
	    <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
	    <remove fileExtension=".woff" />
	    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	    <remove fileExtension=".ttf" />
	    <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
	    <remove fileExtension=".svg" />
	    <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	    <remove fileExtension=".otf" />
	    <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />        
    </staticContent>
  </system.webServer> 
</configuration>