<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
	    <remove fileExtension=".eot" />
	    <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
	    <remove fileExtension=".woff" />
	    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
	    <remove fileExtension=".woff2" />
		<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
	    <remove fileExtension=".ttf" />
	    <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
	    <remove fileExtension=".svg" />
	    <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	    <remove fileExtension=".otf" />
	    <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
	    <mimeMap fileExtension=".mp4" mimeType="video/mp4" />        
    </staticContent>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="http://farmaciasdesimilares.com.mx/" defaultValue="">
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Main Rule">
                    <match url=".*" negate="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>    
        <directoryBrowse enabled="false" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="http://www.farmaciasdesimilares.com.mx" responseMode="Redirect" />
        </httpErrors>    
  </system.webServer>
    <system.web>
        <customErrors>
		    
            <error redirect="http://www.farmaciasdesimilares.com.mx" statusCode="404" />
        </customErrors>
    </system.web>
</configuration>