<div class="row show-grid">
    <div class="contenedorBarra">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <a ui-sref="localiza">
                <div class="col-md-12">
                    <h1><span>Localiza tu</span><br class="hidden-xs hidden-sm"> Unidad</h1></div>
            </a>
            <div class="localiza hidden-sm"></div>
            <div class="localiza-sm visible-sm"></div>
            <hr class="hidden-md hidden-lg">
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-4 barraCirculo">
                    <div class="hvr-ripple-out"><img class="loadImgBarra" src="images/loading.gif" alt=""></div>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs barraTitulo">
                    <p class="hvr-push">Análisis Clínicos</p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4 barraCirculo">
                    <div class="hvr-ripple-out"><img class="loadImgBarra" src="images/loading.gif" alt=""></div>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs barraTitulo">
                    <p class="hvr-push">Consultorios Dentales</p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4 barraCirculo opticasIcon">
                    <div class="hvr-ripple-out"><img class="loadImgBarra" src="images/loading.gif" alt=""></div>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs barraTitulo2">
                    <p class="hvr-push">Ópticas</p>
                </div>
            </div>
        </div>
    </div>
</div>
