<div class="row show-grid productos">
    <div class="col-md-12 bread">
        <ui-breadcrumbs displayname-property="ncyBreadcrumb.label" abstract-proxy-property="data.proxy" template-url="uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
    </div>
    <div class="col-md-12 banner hidden-xs">
        <a id="bannerLink" href=""><img id="banner" src="images/nuevos_genericos.jpg" alt=""></a>
    </div>
    <div class="col-md-8 col-xs-12 detalle">
        <div class="row nota">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <h1 class="popDisplayTitle notaTitulo">Bolsa de Trabajo</h1>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 img">
                <p><img ng-src="images/bolsa_de_trabajo.jpg" alt=""></p>
            </div>            
            <div class="col-md-12 col-xs-12 panel panel-default">
                <div class="panel-heading">En Farmacias Similares, buscamos gente como Tú</div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://farmaciasdesimilares.com/bolsatrabajo2/vacantes_publicadas_2.aspx" height="1400" frameborder="no"></iframe>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div ng-include="'views/promosSide.html'"></div>
    </div>
</div>
