<div class="row show-grid productos">
    <div class="col-md-12 bread">
        <ui-breadcrumbs displayname-property="ncyBreadcrumb.label" abstract-proxy-property="data.proxy" template-url="uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
    </div>
    <div class="col-md-12 banner hidden-xs">
        <a id="bannerLink" href=""><img id="banner" src="images/nuevos_genericos.jpg" alt=""></a>
    </div>
    <div class="col-md-12 col-xs-12 detalle">
        <div class="row nota">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12 panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="subtitulo">Sucursales participantes</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    
                                </p>                            
                                <iframe width="100%" height="1000" scrolling="no" src="https://farmaciasdesimilares.com/tarjetas-mapas/#/capital-social" frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
