
<div class="historico">

	<h1 class="popDisplayTitle adsTitle carritoTitulo">Carrito</h1>

	<div class="row row-centered">
		<div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="producto in $storage.array track by $index">
			<div class="col-md-12 col-sm-12 col-xs-12 col-centered">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 col-centered carritoLista">
		            	<button class="btn btn-info btn-sm" type="button">
		            		<div class="row">
		              			<span class="col-md-10 col-sm-10 col-xs-10 pull-left carritoListaTxt">{{producto.nombre}}</span>
		              			<span class="badge pull-right">{{producto.cantidad}}</span>
		              		</div>
		            	</button>
		            </div>
		            <div class="col-md-12 col-sm-12 col-xs-12 col-centered">		
						<p class="col-md-5 col-sm-5 col-xs-5">{{producto.precio | currency}} x {{producto.cantidad}}</p>
						<p class="col-md-2 col-sm-2 col-xs-1"> | </p>
						<p class="col-md-5 col-sm-5 col-xs-5">{{(producto.precio)*(producto.cantidad) | currency}}</p>
					</div>
				</div>
			</div>
			<hr ng-show="$index < ($storage.array.length-1)">
		</div>
	</div>

	<hr>

	<div  class="row comboPrecio">
		  <p class="popDisplayContent">{{total | currency}}</p>
	</div>

</div>