<div class="row show-grid productos">
	<div class="col-md-12 bread hidden-xs">
		<ui-breadcrumbs displayname-property="ncyBreadcrumb.label" abstract-proxy-property="data.proxy" template-url="uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
	</div>

	<div class="col-md-12 banner hidden-xs">
		<img src="images/nuevos_genericos.jpg" alt="">
	</div>

	<div class="row detalleF">

		<div class="col-md-8 col-xs-12 detalle">
			<div class="row" ng-repeat="producto in $storage.array track by $index">
				<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="col-md-12 col-xs-12">
							<p class="well"><a ui-sref="medicamentos.detalle({ medicamentoId: transUrl(producto.medicamentoId) })"><img ng-src="http://farmaciasdesimilares.com.mx/ui/productos/ch/C_{{producto.clave}}.jpg" alt="{{producto.medicamentoId}}" data-toggle="tooltip" data-placement="bottom" title="{{producto.medicamentoId}}"></a></p>
						</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="col-md-12 col-xs-12 panel panel-default">
						<div class="panel-heading carritoTitulo row">
							<div class="col-md-11 col-xs-11">
								{{producto.medicamentoId}}
							</div>
							<button type="button" class="btn btn-danger btn-xs pull-right" aria-label="Left Align" ng-click="quitaDeCarrito($index);">
							  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</div>
						<div class="panel-body">
							<div class="col-md-12 col-sm-5 col-xs-12 label label-warning">
								Precio: {{producto.precio | currency}}
							</div>
							<div class="col-md-12 col-sm-5 col-xs-12 label label-info">
								Cantidad: {{producto.cantidad}}
								<div class="btn-group pull-right" role="group" aria-label="...">
									<button type="button" class="btn btn-default btn-xs" aria-label="Left Align" ng-click="sumaPro($index)">
									  <span class="glyphicon glyphicon-plus carritoIcons" aria-hidden="true"></span>
									</button>
									<button type="button" class="btn btn-default btn-xs" aria-label="Left Align" ng-click="restaPro($index)">
									  <span class="glyphicon glyphicon-minus carritoIcons" aria-hidden="true"></span>
									</button>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div ng-show="$storage.array.length < 1" class="col-md-8 col-sm-8 col-xs-12">
					<div class="col-md-12 col-xs-12 panel panel-default">
						<div class="panel-heading carritoTitulo" style="text-transform:none;">
							<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp; Tu carrito está vacío 
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-xs-12 sugeridos">
			<div ng-include="'views/carritoTotal.html'"></div>
		</div>

		<div class="banner hidden-lg hidden-md hidden-sm visible-xs">
			<img src="images/nuevos_genericos_xs.jpg" alt="">
		</div>

	</div>

</div>

<script src="js/stars.js"></script>
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip();
	})
</script>