<div class="row show-grid productos">
    <div class="col-md-12 bread">
        <ui-breadcrumbs displayname-property="ncyBreadcrumb.label" abstract-proxy-property="data.proxy" template-url="uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
    </div>
    <div class="col-md-12 banner hidden-xs">
        <a id="bannerLink" href=""><img id="banner" src="images/nuevos_genericos.jpg" alt=""></a>
    </div>
    <div class="col-md-8 col-xs-12 detalle">
        <div class="row nota">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <h1 class="popDisplayTitle notaTitulo">Control de Calidad</h1>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 img">
                <p><img ng-src="images/siminotas/entidad_certificadora.jpg" alt=""></p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12 panel panel-default">
                    <div class="panel-heading">De nuestros productos</div>
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="notaFrame">
                                <p class="contenido">
                                    <dl class="faq">
                                        <dt>Solicitamos a los laboratorios fabricantes un certificado analítico de productos, como si se tratara del Acta de Nacimiento de un medicamento.</dt>
                                        <dt>Visitamos las instalaciones de los laboratorios fabricantes para verificar que se cumplan las buenas prácticas de fabricación que requiere cada medicamento.</dt>
                                        <dt>Realizamos una inspección física y validación de medicamentos por parte de nuestro Departamento de Control de Calidad, encargado de enviarlos de nuevo a analizar por un laboratorio autorizado de la Secretaría de Salud, dependencia gubernamental que actúa como tercería en materia de garantía.</dt>
                                    </dl>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="subtitulo">¿Qué es un medicamento genérico?</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    Se le llama Medicamento Genérico a la especialidad farmacéutica con el mismo fármaco o sustancia activa, con igual concentración o potencia, que utiliza la misma vía de administración y que mediante las pruebas reglamentarias requeridas ha comprobado que sus especificaciones farmacopéicas, perfiles de disolución o biodisponibilidad u otros parámetros, según sea el caso, son equivalentes a las del medicamento de referencia.
                                    <br>
                                    <br>
                                    <i class="fuente">Fuente: Secretaría de Salud Decreto que adiciona y deroga diversas disposiciones del Reglamento de Insumos para la Salud Diario Oficial de la Federación. Miércoles 2 de enero de 2008.</i>
                                    <br>
                                    <br> Los Genéricos que se ofrecen en Farmacias Similares cuentan con las condiciones de calidad que la ley señala a un precio más bajo, siempre en beneficio de la economía familiar.
                                    <br>
                                    <br> Farmacias Similares cuenta con un Departamento de Control de Calidad que avala la fabricación de cada producto a favor de tu salud.
                                    <br>
                                    <br> El envase de un Genérico contiene el nombre de la sustancia activa e incluso lleva marca y va seguido del nombre del laboratorio fabricante.
                                    <br>
                                    <br>
                                    <b>Farmacias Similares, "Lo Mismo Pero Más Barato"</b>.
                                    <br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div ng-include="'views/promosSide.html'"></div>
    </div>
</div>
