<div class="row show-grid productos">
    <div class="col-md-12 bread">
        <ui-breadcrumbs displayname-property="ncyBreadcrumb.label" abstract-proxy-property="data.proxy" template-url="uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
    </div>
    <div class="col-md-12 banner hidden-xs">
        <a id="bannerLink" href=""><img id="banner" src="images/nuevos_genericos.jpg" alt=""></a>
    </div>
    <div class="row detalleF" vocab="http://schema.org/" typeof="Product">
        <div class="col-md-8 col-xs-12 detalle detalleD">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-12 col-xs-12" ng-if="medActual.urlImagen.length == 1">
                        <p class="well">
                            <a ng-click="version()" data-toggle="modal" data-target="#productoBG"><img propertyu="image" ng-src="http://farmaciasdesimilares.com.mx/ui/productos/me/M_{{medActual.IdProducto.trim()}}.jpg" alt="{{medActual.NombreProducto}}" data-toggle="tooltip" data-placement="bottom" title="{{medActual.NombreProducto || medActual.DESCRIPCION}}" fallback-src="http://farmaciasdesimilares.com.mx/ui/productos/me/noImage_M.jpg"></a>
                        </p>
                    </div>
                    <div class="col-md-12 col-xs-12" ng-if="medActual.urlImagen.length > 1 ">
                        <div ng-repeat="item in medActual.urlImagen">
                            <p class="well">
                                <a ng-click="version($index + 1)" data-toggle="modal" data-target="#productoBG">                                    
                                    <img ng-src="https://fsappmovilstorage.blob.core.windows.net/imagenes/M_{{medActual.IdProducto.trim()}}_{{$index + 1}}.jpg" alt="{{medActual.NombreProducto}}" data-toggle="tooltip" data-placement="bottom" title="{{medActual.NombreProducto || medActual.DESCRIPCION}}" fallback-src="http://farmaciasdesimilares.com.mx/ui/productos/me/noImage_M.jpg">
                                </a>
                            </p>
                            <br>
                        </div>
                    </div>                    
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="medActual.ProductoUnidadRegionalizada.length > 0">
                        <h5 class="text-warning text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Este producto lo puedes encontrar en:</h5>
                        <hr style="margin-bottom: 20px;">
                        <select class="form-control" ng-model="unidad" ng-options="unidad.unidad for unidad in opciones"></select>
                        <div class="bs-example" data-example-id="striped-table">
                            <hr style="margin-bottom: 20px;">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th scope="row">Colonia</th>
                                        <td>{{unidad.colonia}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Municipio</th>
                                        <td>{{unidad.municipio}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Estado</th>
                                        <td>{{unidad.estado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr style="margin-bottom: 20px;">
                        <button type="button" class="btn btn-info" ng-click="localizaUnidad(unidad);"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Localiza esta unidad</button>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-12 col-xs-12 panel panel-default">
                        <div class="panel-heading" property="name">{{medActual.NombreProducto}}</div>
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-12 col-xs-12 label label-warning" property="price">
                                Precio: {{medActual.PrecioVenta | currency}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 label label-default datosDetalle">
                                Clave: {{medActual.IdProducto.trim()}}
                                <hr>
                                <br>
                                <div class="infoProducto" property="description">Presentación: {{medActual.Presentacion}}</div>
                                <hr ng-if="medActual.Concentracion">
                                <br ng-if="medActual.Concentracion">
                                <div class="infoProducto" ng-if="medActual.Concentracion">Concentración: {{medActual.Concentracion}}</div>
                            </div>
                            <div class="well col-md-12 col-sm-12 col-xs-12" ng-if="medActual.Ingredientes.length > 0">
                                <h1>INGREDIENTES</h1>
                                <div class="col-md-12 col-sm-12 col-xs-12 label label-success" ng-if="medActual.Ingredientes.length > 0" ng-repeat="ingrediente in medActual.Ingredientes">
                                    <div class="infoProducto">
                                        {{ingrediente.Nombre}} {{ingrediente.Cantidad}} {{ingrediente.UnidadMedida}}
                                    </div>
                                </div>
                            </div>
                            <!--                             <div class="col-md-12 col-sm-5 col-xs-12 label label-info label-carrito" ng-click="guardaEnCarrito(medActual.ID.trim());" ng-model="agregaAlert">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp; <span class="hidden-xs">Agregar a carrito</span>
</div> -->
                            <div class="col-md-12 col-sm-12 col-xs-12 calificacion" ng-if="calificable == 0">
                                <p>
                                    Calificación
                                    <span ng-show="medActual.Calificacion > 0" class="star"><img src="images/star.png" alt=""></span>
                                    <span ng-show="medActual.Calificacion > 1" class="star"><img src="images/star.png" alt=""></span>
                                    <span ng-show="medActual.Calificacion > 2" class="star"><img src="images/star.png" alt=""></span>
                                    <span ng-show="medActual.Calificacion > 3" class="star"><img src="images/star.png" alt=""></span>
                                    <span ng-show="medActual.Calificacion > 4" class="star"><img src="images/star.png" alt=""></span>
                                </p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="calificable == 0">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#estrellas" ng-if="calificable == 0"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
                                    <button class="btn btn-medium center-content radius3 bg-white btn-primary share" socialshare="" socialshare-provider="facebook" socialshare-via="398798393664417" socialshare-url="{{urlShare}}" socialshare-caption="{{shareCaption}}" socialshare-text="{{medActual.NombreProducto || medActual.DESCRIPCION}} a sólo {{medActual.PrecioVenta || medActual.PRECIO_VENTA | currency}}" socialshare-media="http://farmaciasdesimilares.com.mx/ui/productos/me/M_{{medActual.IdProducto.trim()}}.jpg" socialshare-type="feed" socialshare-redirect-uri="http://www.farmaciasdesimilares.com.mx/propuesta/gracias.html" socialshare-description="Tenemos más de 100 nuevos genéricos. ¡Pregunta por el tuyo!" socialshare-popup-height="350" socialshare-popup-width="540">
                                        <div class="resp-sharing-button__icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" viewBox="0 0 32 32">
                                                <path d="M21 6c-2.761 0-5 2.239-5 5v3h-4v4h4v14h4v-14h4.5l1-4h-5.5v-3c0-0.552 0.448-1 1-1h5v-4h-5z"></path>
                                            </svg>
                                        </div>
                                    </button>
                                    <a class="btn btn-info" socialshare socialshare-provider="twitter" socialshare-hashtags="{{hashtag}}, loMismoPeroMasBarato" socialshare-via="fsimilares" socialshare-text="{{medActual.NombreProducto || medActual.DESCRIPCION}} | {{medActual.PrecioVenta || medActual.PRECIO_VENTA | currency}}" socialshare-url="{{urlShare}}" socialshare-popup-height="400" socialshare-popup-width="500">
                                        <div class="resp-sharing-button__icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em" viewBox="0 0 32 32">
                                                <path d="M32 6.076c-1.177 0.522-2.443 0.875-3.771 1.034 1.355-0.813 2.396-2.099 2.887-3.632-1.269 0.752-2.674 1.299-4.169 1.593-1.198-1.276-2.904-2.073-4.792-2.073-3.626 0-6.565 2.939-6.565 6.565 0 0.515 0.058 1.016 0.17 1.496-5.456-0.274-10.294-2.888-13.532-6.86-0.565 0.97-0.889 2.097-0.889 3.301 0 2.278 1.159 4.287 2.921 5.465-1.076-0.034-2.088-0.329-2.974-0.821-0.001 0.027-0.001 0.055-0.001 0.083 0 3.181 2.263 5.834 5.266 6.437-0.551 0.15-1.131 0.23-1.73 0.23-0.423 0-0.834-0.041-1.235-0.118 0.835 2.608 3.26 4.506 6.133 4.559-2.247 1.761-5.078 2.81-8.154 2.81-0.53 0-1.052-0.031-1.566-0.092 2.905 1.863 6.356 2.95 10.064 2.95 12.076 0 18.679-10.004 18.679-18.68 0-0.285-0.006-0.568-0.019-0.849 1.283-0.926 2.396-2.082 3.276-3.398z"></path>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="acotacion" ng-if="shareCaption == 'Vitaminas'">*IVA INCLUIDO</p>
                    <p class="acotacion" ng-if="shareCaption == 'Vitaminas'">*De acuerdo a lo publicado en el diario oficial de la federación con fecha 26 de marzo 2015</p>
                    <p class="acotacion">Recuerde, no a la automedicación. Consulte a su médico. La imagen y el precio pueden variar con respecto al producto final y zona geográfica. El consumo de este producto es responsabilidad de quien lo recomienda y quien lo usa.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="ofertaDetalle" ng-if="ofertas.length > 0" ng-include="'views/promocion.html'"></div>
            <div class="ofertaDetalle" ng-if="ofertas.length == 0" ng-include="'views/promosSide.html'"></div>
        </div>
        <div class="col-md-4 col-xs-12 hidden-lg hidden-md hidden-sm visible-xs">
            <div class="banner">
                <img src="images/nuevos_genericos_xs.jpg" alt="">
            </div>
        </div>
    </div>
    <div ng-if="$storage.array.length && muestraCarrito" class="row detalleF mensajesFrame" bs-popover>
        <div class="col-md-12 col-xs-12 mensajes" id="carritoShow">
            <div class="alert alert-info row">
                <div class="col-md-12 col-xs-12">
                    <a ui-sref="carrito" hreflang="es">
                        <button class="btn btn-info btn-sm" type="button">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Carrito &nbsp;<span class="badge">{{$storage.array.length}}</span>
                        </button>
                    </a>
                    <a ng-click="ocultaCarrito()" hreflang="es">
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </a>
                </div>
                <div class="col-md-12 col-xs-12 listaProductosAgregados">
                    <div>
                        <img class="productosAgregados" ng-repeat="producto in $storage.array" ng-src="http://farmaciasdesimilares.com.mx/ui/productos/ch/C_{{producto.id.trim()}}.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row detalleF mensajesFrame">
        <div class="col-md-12 col-xs-12 mensajes alertaAdd">
            <div class="alertaProAdded" ng-messages="agregaAlert" ng-if="showAddedProduct">
                <p class="alert alert-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;¡Producto agregado!
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="productoBG" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{medActual.NombreProducto || medActual.DESCRIPCION}}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="well"><img ng-src="http://farmaciasdesimilares.com.mx/ui/productos/gr/G_{{medActual.IdProducto.trim()}}{{versionN}}.jpg" title="{{medActual.NombreProducto || medActual.DESCRIPCION}}" fallback-src="http://farmaciasdesimilares.com.mx/ui/productos/gr/noImage_G.jpg"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-4 col-sm-5 col-xs-12 label label-warning">
                            Precio: {{medActual.PrecioVenta || medActual.PRECIO_VENTA | currency}}
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12 label label-info">
                            Presentación: {{medActual.Presentacion || medActual.PRESENTACION}}
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="estrellas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel" ng-hide="enviado == 1">Calificación</h4>
                    <h4 class="modal-title" id="exampleModalLabel" ng-hide="enviado == 0">¡Gracias!</h4>
                </div>
                <div class="modal-body">
                    <form name="calificaForm" class="contacto" method="post" novalidate>
                        <div class="form-group has-feedback" ng-class="{
                                                  'has-error': calificaForm.calificaRadio.$touched && calificaForm.calificaRadio.$invalid,
                                                  'has-success': calificaForm.calificaRadio.$touched && !calificaForm.calificaRadio.$invalid
                                                }" ng-hide="enviado == 1">
                            <label for="message-text" class="control-label calificaLabel">¿Ya probaste <span>{{medActual.NombreProducto || medActual.DESCRIPCION}}</span>?</label>
                            <br>
                            <label class="col-md-2 col-sm-6 col-xs-6 col-md-offset-6 siLabel">
                                <input type="radio" ng-model="probado" ng-value="1" required> Sí
                            </label>
                            <label class="col-md-2 col-sm-6 col-xs-6 probadoONo">
                                <input type="radio" ng-model="probado" ng-value="0"> No
                            </label>
                        </div>
                        <div id='stars' class='col-md-12 starrr' ng-show="probado === 1 && enviado == 0"></div>
                        <div ng-show="probado === 1 && enviado == 0" class="form-group has-feedback" ng-class="{
                                                  'has-error': calificaForm.calificaText.$touched && calificaForm.calificaText.$invalid,
                                                  'has-success': calificaForm.calificaText.$touched && !calificaForm.calificaText.$invalid
                                                }">
                            <label for="message-text" class="control-label calificaLabel">Comentarios:</label>
                            <textarea class="form-control calificaTextarea" id="calificaText" name="calificaText" ng-model="calificaText" ng-minlength="10" ng-maxlength="2000"></textarea>
                        </div>
                    </form>
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="enviado == 0">
                        <p class="calificado">Tu calificación ha sido registrada.</p>
                        <br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-disabled="calificaForm.$invalid || probado == 0" ng-click="califica()" ng-hide="enviado == 1">Calificar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="stars.js"></script>
<script>
$(function() {
    $('[data-toggle="tooltip"]').tooltip();
})
</script>
