<footer class="footer">
    <div class="lineaFooter"></div>
    <div class="container">
        <h1>SIMITEL<br> 01 800 911 6666</h1>
        <ul class="nav nav-pills">
            <li><img src="images/face_icon.png" alt=""></li>
            <li><img src="images/twitter_icon.png" alt=""></li>
            <li><img src="images/youtube_icon.png" alt=""></li>
        </ul>
        <p>© Copyright 2015. Farmacias de Similares S.A. de C.V. | <a href="../sticky-footer-navbar">Aviso Legal</a> | <a href="../sticky-footer-navbar">Aviso de Privacidad</a></p>
    </div>
</footer>
