<footer class="footer">
    <div class="lineaFooter"></div>
    <div class="container">
        <h1><a ui-sref="simitel" hreflang="es">SIMITEL<br> 01 800 911 6666</a></h1>
        <ul class="nav nav-pills">
            <li class="hvr-push" onclick="window.open('https://www.facebook.com/FarmaciasSimilares','_blank');"><img src="images/face_icon.png" alt=""></li>
            <li class="hvr-push" onclick="window.open('https://twitter.com/fsimilares','_blank');"><img src="images/twitter_icon.png" alt=""></li>
            <li class="hvr-push" onclick="window.open('https://www.youtube.com/user/farmaciassimilaresmx','_blank');"><img src="images/youtube_icon.png" alt=""></li>
        </ul>
        <p>© Copyright 2016. Farmacias de Similares S.A. de C.V. | <a data-toggle="modal" data-target="#avisoLegal">Aviso Legal</a> | <a data-toggle="modal" data-target="#avisoPrivacidad">Aviso de Privacidad</a></p>
    </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="avisoLegal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Aviso Legal</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'views/avisoLegal.html'"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="avisoPrivacidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Aviso de Privacidad</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'views/avisoPrivacidad.html'"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
