<div class="row show-grid productos">
    <div class="col-md-12 bread">
        <ui-breadcrumbs displayname-property="ncyBreadcrumb.label" abstract-proxy-property="data.proxy" template-url="uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
    </div>
    <div class="col-md-12 banner hidden-xs">
        <a id="bannerLink" href=""><img id="banner" src="images/nuevos_genericos.jpg" alt=""></a>
    </div>
    <div class="col-md-8 col-xs-12 detalle">
        <div class="row nota">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <h1 class="popDisplayTitle notaTitulo">Historia</h1>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 img">
                <p><img ng-src="images/siminotas/entidad_certificadora.jpg" alt=""></p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12 panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="notaFrame">
                                <p class="contenido">
                                    <ul class="faq">
                                        <li>Farmacias Similares, perteneciente al Grupo Por un País Mejor, fue constituida el 8 de Septiembre de 1997, con la finalidad de ofrecer productos y servicios de salud a los estratos más desprotegidos del país.</li>
                                        <li>En 2002, Farmacias Similares intensificó su presencia con más de 1000 sucursales en todo México.</li>
                                        <li>En 2003, la cadena farmacéutica arribó a Guatemala, dando el primer paso para su internacionalización.</li>
                                        <li>Actualmente, existen más de 5000 sucursales y franquicias establecidas en todo México, Chile y Guatemala.</li>
                                        <li>Farmacias Similares es la empresa líder en Venta y Distribución de Medicamentos Genéricos y Productos de Salud en México y América Latina.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="subtitulo">Filosofía</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    Para nuestro fundador, Don Víctor González Torres, todos tenemos algo bueno que compartir: tu sonrisa, tu tiempo, tu talento, etc. Dar es la expresión más noble del ser humano, la que lo identifica y lo hermana, así entonces nuestra filosofía se basa en aprender a dar a los demás.
                                    <br>
                                    <br>
                                </p>
                            </div>
                            <div class="subtitulo">Misión</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    Mejorar el nivel de vida de la humanidad, ofreciendo productos y servicios de salud de calidad al alcance de todos.
                                    <br>
                                    <br>
                                </p>
                            </div>
                            <div class="subtitulo">Visión</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    Ser reconocida como modelo de calidad, servicio y confianza, con procesos eficaces y eficientes, en un clima laboral agradable que genere bienestar y orgullo de pertenencia.
                                    <br>
                                    <br>
                                </p>
                            </div>
                            <div class="subtitulo">Grupo Por Un País mejor</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    Grupo Por un País Mejor (GPUPM) es un conjunto de instituciones y empresas comerciales encaminadas a construir una nación más justa para todos. En la actualidad, contamos con 5 empresas de carácter social y 4 de tipo comercial, con el fin de brindar asistencia social, promover una cultura ambiental y fomentar una conciencia social en cada uno de los mexicanos.<br>
                                    <br>
                                </p>
                                <p><img ng-src="images/logoGPUPM.jpg" alt=""></p>
                            </div>
                            <div class="subtitulo">Empresas Sociales</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    Pertenecientes al Grupo Por Un País Mejor AC, contamos con 5 instituciones de carácter social que buscan contribuir mediante el apoyo a los que menos tienen, ayuda asistencial, rehabilitación física y mental, desarrollo de comunidades indígenas y apoyos económicos en todo el país, a la creación de un México mejor.
                                    <br>
                                    <br>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p><a href="http://www.mna.org.mx/" target="_blank"><img src="images/logo_MNA.jpg" alt="Logo MNA"></a></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p><a href="http://www.fundaciondrsimi.org.mx/" target="_blank"><img src="images/logo_Fundacion_Dr_Simi.jpg" alt="Logo Fundación Dr. Simi"></a></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p><a href="http://www.fundacioneugenia.org.mx/" target="_blank"><img src="images/logo_Fundacion_Eugenia.jpg" alt="Logo Fundación Niños de Eugenia"></a></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p><a href="http://www.fundacionbest.org.mx/" target="_blank"><img src="images/logo_Fundacion_Best.jpg" alt="Logo Fundación Best"></a></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <p><a href="http://www.serfelizsisepuede.com.mx/" target="_blank"><img src="images/logo_CNDEE.jpg" alt="Logo CNDEE"></a></p>
                                </div>
                            </div>
                            <div class="subtitulo">Empresas Comerciales</div>
                            <div class="notaFrame">
                                <p class="contenido">
                                    Actualmente, contamos con 4 empresas de carácter comercial, encargadas de brindar servicios de calidad en el rubro de salud, alimentación y educación, con el fin de garantizar pleno acceso a todos ellos y mejorar la calidad de vida de millones de mexicanos.
                                    <br>
                                    <br>
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p><a href="#"><img src="images/logo_farmacias_similares.jpg" alt="Logo Farmacias de Similares"></a></p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p><a href="http://www.ssdrsimi.com.mx/" target="_blank"><img src="images/logo_SSS.jpg" alt="Logo Análisis Clínicos del Dr. Simi"></a></p>
                                </div>                                
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p><a href="http://www.laboratoriosbest.com.mx/" target="_blank"><img src="images/logo_laboratoriosBest.jpg" alt="Logo Laboratorios Best"></a></p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p><a href="#"><img src="images/logo_transportes.jpg" alt="Logo Transportes Farmacéuticos"></a></p>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div ng-include="'views/promosSide.html'"></div>
    </div>
</div>
