<div class="row main">
    <div class="col-xs-12 col-sm-6 col-md-4 mainLeft">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="view view-first" data-toggle="modal" data-target="#productoBasico">
                    <img src="images/banner-main-catalogo.jpg" />
                    <div class="mask hidden-sm hidden-xs">
                        <!-- <h2>Para este frío, en Dr. Simi confío</h2>
                        <p></p>
                        <a ui-sref="promociones" class="info">Ver</a> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 descargaApp">
                <div class="view view-first" ui-sref="facturacion">
                    <img src="images/banner-main-2.jpg" />
                    <div class="mask hidden-sm hidden-xs">
                        <!-- <h2>Facturación Electrónica</h2>
                        <p></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainImg" class="col-xs-12 col-sm-6 col-md-8 mainRight">
        <blockquote>
            <p>En <span>Farmacias Similares</span> el cliente es lo primero</p>
        </blockquote>
    </div>
</div>

<div class="modal fade" id="aviso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title fraude" id="exampleModalLabel" style="text-transform: inherit; color: maroon;"></h4>
                </div>
                <div class="modal-body">
                    <p class="well" style="text-align:justify;">Farmacias de Similares, S.A. de C.V., es una empresa dedicada únicamente a la comercialización de medicamentos genéricos e insumos para la salud. <br><br>
                    <b>No se deje sorprender por publicaciones apócrifas y fraudulentas, en las que, utilizando indebidamente nuestro nombre, se ofrece la venta de automóviles y/o flotillas.</b> <br><br>
                    Invitamos a nuestros clientes y público en general a permanecer atentos y a hacer caso omiso de dichas publicaciones.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productoBasico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="images/infografia-producto-basico.jpg" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
