<div class="row main">
    <div class="col-xs-12 col-sm-6 col-md-4 mainLeft">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="view view-first" onclick="window.open('https://www.farmaciasdesimilares.com/cuadernillo/index.html', '_blank')">
                    <img src="images/banner-main-catalogo.jpg" />
                    <div class="mask hidden-sm hidden-xs">
                        <h2>Catálogo</h2>
                        <p>Ve todo lo que tenemos para ti</p>
                        <a href="#" class="info">Ver catálogo</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 descargaApp">
                <div class="view view-first" onclick="window.open('https://play.google.com/store/apps/details?id=com.farmaciassimilares.simiaventuras', '_blank')">
                    <img src="images/banner-main-2.jpg" />
                    <div class="mask hidden-sm hidden-xs">
                        <h2>Simi Aventuras</h2>
                        <p style="padding: 10px 20px 0px;">Las aventuras del Dr. simi llegaron a tu móvil</p>
                        <a href="https://play.google.com/store/apps/details?id=com.farmaciassimilares.simiaventuras" class="info">Descargar juego</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mainImg" class="col-xs-12 col-sm-6 col-md-8 mainRight">
        <blockquote>
            <p>En <span>Farmacias Similares</span> el cliente es lo primero</p>
        </blockquote>
    </div>
</div>
