<div class="row main">
    <div class="col-xs-12 col-sm-6 col-md-4 mainLeft">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                    <p><a ng-click="mandaEvento()" href="http://farmaciasdesimilares.com.mx/PromoOlimpiadas2016/Registra.aspx" target="_blank" hreflang="es"><img class="loadImg" src="" alt=""></a></p>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 descargaApp">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                    <p><a href="https://play.google.com/store/apps/details?id=com.farmaciassimilares.simiaventuras" target="_blank"><img class="loadImg" src="" alt=""></a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="mainImg" class="col-xs-12 col-sm-6 col-md-8 mainRight">
        <blockquote>
            <p>En <span>Farmacias Similares</span> el cliente es lo primero</p>
        </blockquote>
    </div>
</div>
