<div class="row rowHead">
    <div class="col-md-6 no-padding">
        <a ui-sref="inicio"><img src="images/logo.png" alt="Farmacias Similares"></a>
    </div>
    <!-- Header Top Left | Imagen logo -->
    <div class="col-md-6 visible-md-block visible-lg-block">
        <div class="row">
            <div class="col-md-12">
                <div class="row show-grid">
                    <div class="col-md-6">
                        <ol class="list-unstyled">
                            <li><a href="http://proveedores.farmaciasdesimilares.com.mx/farmaciasmexico/Compras_FormularioProveedores/frm_proveedor.aspx" hreflang="es" target="_blank">Registro de nuevos proveedores</a></li>
                            <li><a href="http://facturacfd.farmaciasdesimilares.com.mx:82/CFD_Recepciones_FS/Acceso.aspx" hreflang="es" target="_blank">Proveedores de bienes y servicios</a></li>
                            <li><a href="https://reem.farmaciasdesimilares.com.mx/" hreflang="es" target="_blank">Reembolsos</a></li>
                        </ol>
                    </div>
                    <div class="col-md-4">
                        <ol class="list-unstyled">
                            <li><a href="https://portalfranq.com.mx/" hreflang="es" target="_blank">Acceso a franquiciatarios</a></li>
                            <li><a ng-click="localizaType(1)" ui-sref="localiza" hreflang="es">Localiza tu farmacia</a></li>
                            <li><a ui-sref="facturacion" hreflang="es">Facturación electrónica</a></li>
                        </ol>
                    </div>                                           
<!--                     <div class="col-md-5">
    <ol class="list-unstyled pull-left">
        <li class="shopping-car-icon">
            <a ui-sref="carrito" hreflang="es">
                <button class="btn btn-info btn-sm" type="button">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; Carrito &nbsp;<span class="badge">{{$storage.array.length}}</span>
                </button>
            </a>
        </li>
    </ol>
</div> -->
                </div>
                <!-- Header Top Right | Lista tools -->
            </div>
            <div class="col-md-12 headLabel">
                <div>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Busca un medicamento" class="form-control busca" ng-model="termino" ng-model-options='{ debounce: 700 }' ng-change="doSearch('barra')" my-enter="enterF()">
                            <!-- ng-model="doSearchInput" ng-model-options='{ debounce: 500 }' ng-change="doSearch()" -->
                        </div>
                    </form>
                    <a class="cierraBusqueda" ng-click="noInput()" ng-show="viewSearch"><span style="font-size:2em; float:right; cursor:pointer; color:#BE2126" class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    <div class="table-responsive" ng-show="viewSearch" style="overflow:hidden;">
                        <div class="row bPag">
                            <dir-pagination-controls pagination-id="buscaPag" max-size="5"></dir-pagination-controls>
                            <p class="palabraBuscada">Palabra buscada: {{terminoBuscado}}</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12" ng-show="searchLoader">
                                <p class="searchLoader"><img src="images/loader.gif" alt=""></p>
                            </div>
                            <div class="col-sm-12 col-xs-12" ng-if="searchResult.length > 0">
                                <p class="searchResult"><b class="searchB">Resultados</b></p>
                            </div>
                        </div>
                        <div class="row" dir-paginate="item in searchResult | itemsPerPage: 4" pagination-id="buscaPag">
                            <div class="col-sm-12 col-xs-12">
                                <a ng-click="noInput()" ui-sref="busquedaGrupo.detalle({ idProducto:(item.IdProducto.trim()), medicamentoId: prettyFn(item.NombreProducto) })" hreflang="es">
                                    <p class="searchResults">{{item.NombreProducto}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-if="searchResult.length == 0">
                            <div class="col-sm-12 col-xs-12 bg-danger">
                                <p class="searchResults"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Su búsqueda no generó resultados</p>
                            </div>
                            <div class="col-sm-12 col-xs-12 bg-info">
                                <p class="searchResults"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Si tiene alguna duda, puede llamarnos sin costo a Simitel</p>
                                <h3>01 800 911 6666</h3>
                                <hr style="border-top: 1px solid white;">
                            </div>                            
                            <div class="col-sm-6 col-xs-6 bg-info">
                                <p>
                                    <b>Opción 4:</b><br>
                                    Asesoría nutricional
                                </p>
                            </div>
                            <div class="col-sm-6 col-xs-6 bg-info">
                                <p>
                                    <b>Opción 5:</b><br>
                                    Asesoría médica
                                </p>
                            </div>
                        </div>                        
                        <div class="row bPag" ng-if="searchResult.length > 0">
                            <p class="verSearch"><a ng-click="enterF()" class="btn btn-md btn-primary" role="button" ng-class="{
                                                  'disabled': searchLoader === true
                                                }">Ver todos los resultados</a></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top Right | Tools -->
</div>
<!-- Header Top -->
<nav id="navegacion" class="navbar navbar-default navegacion">
    <div class="container-fluid navContent">
        <div class="navbar-header row">
            <div class="visible-xs-block visible-sm-block col-sm-10 col-xs-9">
                <div class="form-group buscaInputSmall" style="margin-bottom:0;">
                    <div class="input-group">
                        <div>
                            <div class="form-group">
                                <form>
                                    <div class="form-group">
                                        <input type="text" placeholder="Busca un medicamento" class="form-control busca" ng-model="termino" ng-model-options='{ debounce: 500 }' ng-change="doSearch('barra')" my-enter="enterF()">
                                    </div>
                                </form>
                            </div>
                            <a class="cierraBusqueda" ng-click="noInput()" ng-show="viewSearch"><span style="font-size:2em; float:right; cursor:pointer; color:#BE2126" class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                            <div class="table-responsive" ng-show="viewSearch" style="overflow:hidden;">
                                <div class="row bPag">
                                    <p style="text-align:center"><dir-pagination-controls pagination-id="buscaPag" max-size="5"></dir-pagination-controls></p>
                                    <p class="palabraBuscada">Palabra buscada: {{terminoBuscado}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12" ng-show="searchLoader">
                                        <p class="searchLoader"><img src="images/loader.gif" alt=""></p>
                                    </div>
                                    <div class="col-sm-12 col-xs-12" ng-if="searchResult.length > 0">
                                        <p class="searchResult"><b class="searchB">Resultados</b></p>
                                    </div>
                                </div>
                                <div class="row" dir-paginate="item in searchResult | itemsPerPage: 4" pagination-id="buscaPag">
                                    <div class="col-sm-12 col-xs-12">
                                        <a ng-click="noInput()" ui-sref="busquedaGrupo.detalle({ idProducto:(item.IdProducto.trim()), medicamentoId: prettyFn(item.NombreProducto) })" hreflang="es">
                                            <p class="searchResults">{{item.NombreProducto}}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="row" ng-if="searchResult.length == 0">
                                    <div class="col-sm-12 col-xs-12 bg-danger">
                                        <p class="searchResults"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Su búsqueda no generó resultados</p>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 bg-info">
                                        <p class="searchResults"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Si tiene alguna duda, puede llamarnos sin costo a Simitel</p>
                                        <h3>01 800 911 6666</h3>
                                        <hr style="border-top: 1px solid white;">
                                    </div>                            
                                    <div class="col-sm-6 col-xs-6 bg-info">
                                        <p>
                                            <b>Opción 4:</b><br>
                                            Asesoría nutricional
                                        </p>
                                    </div>
                                    <div class="col-sm-6 col-xs-6 bg-info">
                                        <p>
                                            <b>Opción 5:</b><br>
                                            Asesoría médica
                                        </p>
                                    </div>
                                </div>                                
                                <div class="row bPag" ng-if="searchResult.length > 0">
                                    <p class="verSearch"><a ng-click="enterF()" class="btn btn-md btn-primary" role="button" ng-class="{
                                                          'disabled': searchLoader === true
                                                        }">Ver todos los resultados</a></p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle navUnaLinea" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empresa <span class="caret"></span></a>
                    <ul class="dropdown-menu dropSmallDevs">
                        <li class="hidden-xs hidden-sm">Empresa</li>
                        <li role="separator" class="divider hidden-xs hidden-sm"></li>
                        <li><a class="hvr-sweep-to-right" ui-sref="historia" hreflang="es"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;&nbsp; Historia</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="hvr-sweep-to-right" ui-sref="calidad" hreflang="es"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;&nbsp; Control de Calidad</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="hvr-sweep-to-right" ui-sref="bolsa" hreflang="es"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp; Bolsa de Trabajo</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a class="hvr-sweep-to-right" ui-sref="contacto" hreflang="es"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp; Contáctanos</a></li>
                        <li class="hidden-xs hidden-sm" role="separator" class="divider"></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown hidden-md hidden-lg">
                    <a class="dropdown-toggle navUnaLinea" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
                    <ul class="dropdown-menu dropSmallDevs">
                        <li class="hidden-xs hidden-sm">Productos</li>
                        <li role="separator" class="divider hidden-xs hidden-sm"></li>                        
                        <li ui-sref-active="activo" class="hvr-underline-from-center medIcon"><a class="navUnaLinea subMenu2" ui-sref="medicamentos" hreflang="es">Medicamentos</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="hvr-underline-from-center higieneIcon"><a class="navUnaLinea subMenu2" ui-sref="higiene" hreflang="es">Higiene y Perfumería</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="hvr-underline-from-center curacionIcon"><a class="subMenu2" ui-sref="curacion" hreflang="es">Material de Curación</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="hvr-underline-from-center vitaminasIcon"><a class="subMenu2" ui-sref="vitaminas" hreflang="es">Vitaminas y Suplementos</a></li>
                    </ul>
                </li>                
                <li ui-sref-active="activo" class="hvr-underline-from-center hidden-xs hidden-sm"><a class="navUnaLinea" ui-sref="medicamentos" hreflang="es">Medicamentos</a></li>
                <li class="hvr-underline-from-center hidden-xs hidden-sm"><a ui-sref="higiene" hreflang="es">Higiene y Perfumería</a></li>
                <li class="hvr-underline-from-center hidden-xs hidden-sm"><a ui-sref="curacion" hreflang="es">Material de Curación</a></li>
                <li class="hvr-underline-from-center hidden-xs hidden-sm"><a ui-sref="vitaminas" hreflang="es">Vitaminas y Suplementos</a></li>
                <li class="hvr-underline-from-center"><a ui-sref="nuevos" hreflang="es">Nuevos <br class="hidden-sm hidden-xs">Productos</a></li>
                <li class="hvr-underline-from-center"><a class="navUnaLinea" href="http://www.farmaciasdesimilares.com.mx/cuadernillo/" target="_blank" hreflang="es">Catálogo</a></li>
                <li class="hvr-underline-from-center"><a class="navUnaLinea" ui-sref="promociones" hreflang="es">Lo nuevo</a></li>
                <li class="hvr-underline-from-center"><a class="navUnaLinea" ui-sref="bienestar" hreflang="es">Bienestar</a></li>                
                <li class="hvr-underline-from-center"><a class="navUnaLinea" ui-sref="nota({ notaId: notaFinal })" hreflang="es">Siminotas</a></li>
<!--                 <li class="hvr-underline-from-center visible-xs"><a class="navUnaLinea" ui-sref="carrito" hreflang="es">Carrito</a></li> -->
                <li class="hvr-underline-from-center visible-sm visible-xs"><a class="navUnaLinea" ui-sref="localiza" hreflang="es">Localiza tu farmacia</a></li>
                <li class="hvr-underline-from-center visible-sm visible-xs"><a href="https://reem.farmaciasdesimilares.com.mx/" hreflang="es" target="_blank">Reembolsos</a></li>
                <li class="hvr-underline-from-center visible-sm visible-xs"><a ui-sref="facturacion" hreflang="es">Facturación electrónica</a></li>
                <li class="hvr-underline-from-center carritoNav hidden-sm hidden-xs"><a id="carritoNav" class="navUnaLinea" data-toggle="modal" data-target="#buscaModal" hreflang="es"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
<div data-backdrop="true" class="modal fade" id="buscaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <p class="well">
                        <input id="modalInput" type="text" placeholder="Busca un medicamento" ng-model="doSearchInput" ng-model-options='{ debounce: 500 }' ng-change="doSearch('modal')" my-enter="enterF()">
                    </p>
                    <div class="well" style="overflow:hidden;" ng-show="viewSearchModal">
                        <div class="row bPag">
                            <dir-pagination-controls pagination-id="buscaPag" max-size="5"></dir-pagination-controls>
                            <p class="palabraBuscada">Palabra buscada: {{terminoBuscado}}</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12" ng-show="searchLoader">
                                <p class="searchLoader"><img src="images/loader.gif" alt=""></p>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="searchResult.length > 0">
                                <p class="searchResults"><b>Resultados</b></p>
                            </div>
                        </div>
                        <div class="row" dir-paginate="item in searchResult | itemsPerPage: 4" pagination-id="buscaPag">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a ng-click="noInput()" ui-sref="busquedaGrupo.detalle({ idProducto:(item.IdProducto.trim()), medicamentoId: prettyFn(item.NombreProducto) })" hreflang="es">
                                    <p class="searchResults">{{item.NombreProducto}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-if="searchResult.length == 0">
                            <div class="col-sm-12 col-xs-12 bg-danger">
                                <p class="searchResults"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Su búsqueda no generó resultados</p>
                            </div>
                            <div class="col-sm-12 col-xs-12 bg-info">
                                <p class="searchResults" style="margin-top:10px;"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Si tiene alguna duda, puede llamarnos sin costo a Simitel</p>
                                <h3>01 800 911 6666</h3>
                                <hr style="border-top: 1px solid white;">
                            </div>                            
                            <div class="col-sm-6 col-xs-6 bg-info">
                                <p style="margin:10px 0;">
                                    <b>Opción 4:</b><br>
                                    Asesoría nutricional
                                </p>
                            </div>
                            <div class="col-sm-6 col-xs-6 bg-info">
                                <p style="margin:10px 0;">
                                    <b>Opción 5:</b><br>
                                    Asesoría médica
                                </p>
                            </div>
                        </div>                        
                        <div class="row bPag" ng-if="searchResult.length > 0">
                            <p class="verSearch"><a ng-click="enterF()" class="btn btn-md btn-primary" role="button" ng-class="{
                                                  'disabled': searchLoader === true
                                                }">Ver todos los resultados</a></p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".navbar-collapse").css({ maxHeight: $(window).height() - $(".navbar-header").height() + "px" });
</script>
