<div class="historico" ng-controller="NuevosSideCtrl">
    <h1 class="popDisplayTitle adsTitle" style="font-size: 1.8em !important;">Nuevos Productos</h1>
    <div class="col-md-12 col-sm-12 col-xs-12 hidden-sm panel panel-default ads nuevos">
        <div dir-paginate="item in searchResult | itemsPerPage: 3" pagination-id="nuevosPag">
            <div class="col-md-4 col-sm-12 proGrid col-lg-height">
                    <div class="row">
                        <div id="P_{{item.IdProducto}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 divisionPro">
                            <div class="col-md-12 well hvr-shadow nuevosWell">
                                <a ui-sref="nuevos.detalle({ idProducto:(item.IdProducto.trim()), medicamentoId: transUrl(item.NombreProducto) })" title="{{item.NombreProducto}}" ng-click="sendProduct(item)">
                                    <p><img ng-src="https://farmaciasdesimilares.com/ui/productos/ch/C_{{item.IdProducto.trim()}}.jpg" alt="{{item.NombreProducto}}" fallback-src="https://farmaciasdesimilares.com/ui/productos/ch/noImage_C.jpg"></p>
                                </a>
                                <!--                                 <button class="btn btn-info btn-sm btn-carrito" type="button" style="text-transform:none;" ng-click="guardaEnCarrito(item.IdProducto.trim());" ng-model="agregaAlert">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; <span class="hidden-xs">Agregar a carrito</span>
</button> -->
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6">
                            <div class="col-md-12">
                                <h1 style="max-width:none;">{{item.NombreProducto}}</h1>
                                <!-- <p>{{item.FechaInclusion | dateFilterFormat}}</p> -->
                            </div>
                            <div class="col-md-12 hidden-lg hidden-md">
                                <h2>{{item.PrecioVenta | currency}}</h2>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.Oferta[0]" class="etiqueta-nuevo {{item.Oferta[0].TipoOferta.toLowerCase()}}" ng-mouseover="getPromo(item)" ng-mouseleave="hidePromo()">
                        <p>
                            <span class="glyphicon" aria-hidden="true" ng-class="{
                                                  'glyphicon-usd': item.Oferta[0].TipoOferta == 'Oferta',
                                                  'glyphicon-plus': item.Oferta[0].TipoOferta == 'Combo',
                                                  'glyphicon-flag': item.Oferta[0].TipoOferta == 'Nuevo'
                                                }"></span>
                        </p>
                    </div>
                </div>
        </div>
        <p><dir-pagination-controls pagination-id="nuevosPag" class="paginacion col-md-12 col-xs-12" max-size="5" boundary-links="false"></dir-pagination-controls></p>
    </div>   
</div>
