<div class="historico">
    <h1 class="popDisplayTitle adsTitle carritoTitulo promocionView" ng-class="{
                                                  'titleCombo': tipoDeOferta == 'Combo',
                                                  'titleOferta': tipoDeOferta == 'Oferta'
                                                }">{{tipoDeOferta}}</h1>
    <div ng-if="tipoDeOferta == 'Oferta'" class="row row-centered" ng-repeat="oferta in ofertas track by $index">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 col-centered ofertaInfo">
                <div class="col-md-12 col-xs-12 panel panel-default">
                    <div class="panel-heading text-center">{{oferta.description}}</div>
                    <div class="panel-body ofertaViewPanel">
                        <div class="col-md-12 col-sm-5 col-xs-12 ofertaViewPic">
                            <p class="well">
                                <a data-toggle="modal" data-target="#productoBG"><img ng-src="http://farmaciasdesimilares.com.mx/ui/productos/ch/C_{{oferta.id.trim()}}.jpg" alt="{{oferta.description}}" data-toggle="tooltip" data-placement="bottom" title="{{oferta.description}}"></a>
                            </p>
                        </div>
                        <div class="col-md-12 col-sm-5 col-xs-12 label label-warning ofertaContainer">
                            <span class="ofertaTxt">{{oferta.cantidad}} X {{oferta.precio}}</span>
                        </div>
                        <div class="col-md-12 col-sm-5 col-xs-12 label label-success ofertaContainer">
                            <span class="ofertaTxt">Ahorras {{oferta.ahorro}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="tipoDeOferta == 'Combo'" class="row row-centered" ng-repeat="oferta in ofertas track by $index">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 col-centered ofertaInfo">
                <div class="col-md-12 col-xs-12 panel panel-default">
                    <div class="panel-heading text-center">
                        {{oferta.producto1.nombre}}
                        <br>
                        <a ui-sref="medicamentos.detalle({ idProducto:(oferta.producto1.id.trim()), medicamentoId: transUrl(oferta.producto1.nombre) })">
                            <img ng-src="http://farmaciasdesimilares.com.mx/ui/productos/ch/C_{{oferta.producto1.id.trim()}}.jpg" alt="{{oferta.producto1.nombre}}" data-toggle="tooltip" data-placement="bottom" title="{{oferta.producto1.nombre}}">
                        </a>
                    </div>
                    <div class="panel-heading text-center">
                        {{oferta.producto2.nombre}}
                        <br>
                        <a ui-sref="medicamentos.detalle({ idProducto:(oferta.producto2.id.trim()), medicamentoId: transUrl(oferta.producto2.nombre) })">
                            <img ng-src="http://farmaciasdesimilares.com.mx/ui/productos/ch/C_{{oferta.producto2.id.trim()}}.jpg" alt="{{oferta.producto2.nombre}}" data-toggle="tooltip" data-placement="bottom" title="{{oferta.producto2.nombre}}">
                        </a>
                    </div>
                    <div class="panel-body ofertaViewPanel">
                        <div class="col-md-12 col-sm-5 col-xs-12 label label-warning ofertaContainer">
                            <span class="ofertaTxt">{{oferta.precio}}</span>
                        </div>
                        <div class="col-md-12 col-sm-5 col-xs-12 label label-info label-carrito" ng-click="guardarCombo(oferta.producto1.id.trim(), oferta.producto2.id.trim());" ng-model="agregaAlert">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp; <span class="hidden-xs">Agregar combo a carrito</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
