<h1 class="popDisplayTitle">Oferta</h1>
<div class="row">
	  <p class="popDisplayContent"><span class="badge">{{medActual.oferta}}</span>{{medActual.oferta.slice(1)}}</p>
</div>

<h1 class="popDisplayTitle combo">Combo</h1>

<div class="row row-centered proCombo">
	  <p class="comboImg col-md-5 col-sm-2 col-centered"><img class="well" src="images/productos/p2.jpg" alt=""></p>
	  <p class="plus col-md-1 col-sm-1 col-centered">+</p>
	  <p class="comboImg col-md-5 col-sm-2 col-centered"><img class="well" src="images/productos/p3.jpg" alt=""></p>
</div>

<hr>

<div  class="row comboPrecio">
	  <p class="popDisplayContent">{{medActual.precio | currency}}</p>
</div>