<div class="historico" ng-repeat="item in ofertas">
    <h1 class="popDisplayTitle adsTitle carritoTitulo promocionView" ng-class="{
                                                  'titleCombo': item.tipo == 'Combo',
                                                  'titleOferta': item.tipo == 'Oferta'
                                                }">{{item.tipo}}</h1>
    <div class="row row-centered">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 col-centered ofertaInfo">
                <div class="col-md-12 col-xs-12 panel panel-default">                   
                    <div class="panel-body ofertaViewPanel">
                        <div ng-show="item.nombre2" class="col-md-12 col-sm-12 col-xs-12 ofertaViewPic">
                            <p class="well">
                                <a ui-sref="{{familia}}.detalle({ idProducto:(item.id.trim()), medicamentoId: transUrl(item.nombre) })"><img ng-src="http://farmaciasdesimilares.com.mx/ui/productos/ch/C_{{item.id.trim()}}.jpg" alt="{{item.nombre}}" data-toggle="tooltip" data-placement="bottom" title="{{item.nombre}}" class="imgPromo"></a>
                                <span ng-show="item.id2"> + </span>
                                <a ng-if="item.id2" ui-sref="{{familia}}.detalle({ idProducto:(item.id2.trim()), medicamentoId: transUrl(item.nombre2) })"><img ng-src="http://farmaciasdesimilares.com.mx/ui/productos/ch/C_{{item.id2.trim()}}.jpg" alt="{{item.nombre2}}" data-toggle="tooltip" data-placement="bottom" title="{{item.nombre2}}" class="imgPromo"></a>
                            </p>                           
                        </div>                         
                        <div ng-hide="item.nombre2" class="col-md-12 col-sm-12 col-xs-12 col-sm-offset-1 label label-default ofertaContainer">
                            <span class="ofertaTxt badge">{{item.nombre}}</span>
                        </div>
                        <div ng-hide="item.nombre2" class="col-md-12 col-sm-12 col-xs-12 col-sm-offset-1 label label-default ofertaContainer">
                            <span class="ofertaTxt badge">{{item.cantidad}} X {{item.precio | currency}}</span>
                        </div>
                        <div ng-show="item.nombre2" class="col-md-12 col-sm-12 col-xs-12 col-sm-offset-1 label label-default ofertaContainer">
                            <span class="ofertaTxt badge">{{item.precio | currency}}</span>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-sm-offset-1 label label-success ofertaContainer">
                            <span class="ofertaTxt">{{item.ahorro}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
