<div class="row show-grid productos">
    <div class="col-md-12 bread">
        <ui-breadcrumbs displayname-property="ncyBreadcrumb.label" abstract-proxy-property="data.proxy" template-url="uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
    </div>
    <div class="col-md-12 banner hidden-xs">
        <img src="images/nuevos_genericos.jpg" alt="">
    </div>
    <div class="col-md-8 col-xs-12 detalle">
        <div class="row nota">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12">
                    <h1 class="popDisplayTitle notaTitulo">Menú SIMITEL</h1>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 img">
                <p><img ng-src="images/simitel.jpg" alt=""></p>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-xs-12 panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tema</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <th scope="row">0</th>
                                        <td>Asesoría personal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Para platicar con el personaje del Dr. Simi</td>
                                    </tr>
                                    <tr class="success">
                                        <th scope="row">2</th>
                                        <td>Información de Farmacias Similares, laboratorios o costos de estudios clínicos </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Ayuda psicológica profesional </td>
                                    </tr>
                                    <tr class="info">
                                        <th scope="row">4</th>
                                        <td>Asesoría nutricional para un peso saludable </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Asesoría médica, condiciones de estudios clínicos o información sobre medicamentos </td>
                                    </tr>
                                    <tr class="warning">
                                        <th scope="row">6</th>
                                        <td>Presentar una queja o sugerencia </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Si desea conocer las bases del sorteo compra, registra y gana </td>
                                    </tr>
                                    <tr class="danger">
                                        <th scope="row">8</th>
                                        <td>Registrar su ticket para el sorteo compra, registra y gana </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>Si desea conocer nuestro aviso de privacidad</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12">
        <div ng-include="'views/promosSide.html'"></div>
    </div>
</div>
